$nav-menu-item-actions-color: $nav-menu-fade-color !default;
$nav-menu-item-actions-hover-color: $nav-menu-color !default;
$nav-menu-item-actions-size: 20px !default;

nav-menu-item-actions {
  display: none;
  align-items: flex-end;
  color: $nav-menu-item-actions-color;
  font-size: $nav-menu-item-actions-size;

  > i {
    cursor: pointer;
    margin: 0.1em;

    &:hover {
      color: $nav-menu-item-actions-hover-color;
    }
  }
}

.admin {
  %nav-menu-item:hover {
    .arrow {
      display: none;
    }

    nav-menu-item-actions {
      display: flex;

      > i {
        margin-left: 0.7em;
      }
    }
  }

  .kpi-navigator-unit:hover {
    nav-menu-item-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 25px;
      top: 0;
      height: 100%;

      i[edit-button] {
        padding-left: 3px; // looks better
      }
    }
  }
}

.selected {
  nav-menu-item-actions {
    color: transparentize($nav-menu-item-actions-hover-color, 0.5);
  }
}
