.arrow-selector-container{
    margin: 57px auto;
    margin-bottom: 20px;
    text-align:center;
    overflow: hidden; /* floats inside*/
    .select-wrapper {
      display: inline-block;
    }
    .select-next {
      position: relative;
      font-size: 20px;
      float: left;
      cursor: pointer;
      line-height: 1;
      &.dismiss {
        opacity: 0.2;
      }
    }

    .select-prev {
      @extend .select-next  !optional;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
    }
    .select-label {
      float: left;
      margin: 0px 30px;
      padding-top: 3px;
      @extend .secondary-font;
    }
}
