@mixin bordered-button-creator($color: $main-color, $bg-color: white, $hover-color: $bg-color) {
  @extend .primary-font;
  background: $bg-color;
  border: 3px solid $color;
  color: $color;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 5px 15px;
  text-decoration: none;

  &:not(.disabled):hover {
    background-color: $color;
    color: $hover-color;
  }

  .icon {
    font-size: 12px;
  }

  &.bordered-button-large {
    padding: 15px 25px;
  }

  &.bordered-button-medium {
    padding: 6px 25px;
  }

  &.unbordered-button {
    border-color: transparent;
    background-color: transparent;

    &:not(.disabled):hover {
      background-color: transparent;
      color: $hover-color;
    }
  }

  &.light-bg {
    &:not(.disabled):hover {
      color: lighten($color, 10);
    }
  }

  &.disabled {
    border-color: lighten($color, 10);
    background: lighten($bg-color, 10);
    color: lighten($color, 10);
    cursor: not-allowed;
  }
}

.bordered-button {
  @include bordered-button-creator();
}

.bordered-button-inverted {
  @include bordered-button-creator(white, transparent, $main-color);
}

.bordered-button-discreet {
  @include bordered-button-creator($text-color);
}

.bordered-button-discreet-inverted {
  @include bordered-button-creator($text-color, transparent, $main-color);
}

.bordered-button-emphasis {
  @include bordered-button-creator($emphasis-color);
}
