@mixin bordered-button-creator($color: $main-color, $bg-color: white, $hover-color: $bg-color) {
  border-color: $color;
  background: $bg-color;
  color: $color;

  &:not(.disabled):hover {
    background-color: $color;
    color: $hover-color;
  }

  &.unbordered-button {
    border-color: transparent;
    background-color: transparent;

    &:not(.disabled):hover {
      background-color: transparent;
      color: $hover-color;
    }
  }

  &.light-bg {
    &:not(.disabled):hover {
      color: lighten($color, 10);
    }
  }

  &.disabled {
    border-color: lighten($color, 10);
    background: lighten($bg-color, 10);
    color: lighten($color, 10);
  }
}

.bordered-button {
  @include bordered-button-creator();
}

.bordered-button-inverted {
  @include bordered-button-creator(white, transparent, $main-color);
}

.bordered-button-discreet {
  @include bordered-button-creator($text-color);
}

.bordered-button-discreet-inverted {
  @include bordered-button-creator($text-color, transparent, $main-color);
}

.bordered-button-emphasis {
  @include bordered-button-creator($emphasis-color);
}
