chart {
  /* Colors */
  @each $color in $chartColors {
    $i: index($chartColors, $color) - 1;
    [data-serie="#{$i}"], [data-serie-index="#{$i}"] {
      @include colorSVGElement($color);
    }
  }


  @each $color in $scaleColors {
    $i: index($scaleColors, $color) - 1;
    [data-scale-index="#{$i}"] {
      @include colorSVGElement($color);
    }
    .scale-colors {
      [data-serie="#{$i}"] , [data-serie-index="#{$i}"] {
        @include colorSVGElement($color);
      }
    }
  }

  [data-scale-index="missing"] {
    @include colorSVGElement(#eee);
  }

  .selected {
    @include colorSVGElement($emphasis-color);
  }

}

/* Used to override default colors for consistency across report */
@mixin serie-color($label, $color){
  [data-subgroup="#{$label}"] {
    @include colorSVGElement($color);
  }
}

.current-report-entity {
  fill: $emphasis-color;
  .stacked-barchart-value,
  .horizontal-barchart-label {
    fill: $emphasis-color;
  }
}

/* Utility classes */
chart {
  .gray-bg {
    background-color: $greyLight;

    legend,
    .chart-legend-right {
      background-color: $grey;
    }

    .scroll-opaque-cue {
      @include scroll-opaque-cue-bg($greyLight);
    }
  }

}
