.carto-cat-0 {
    background-color: #ffe7c9 !important;
}
.carto-cat-1 {
    background-color: #ffb78b !important;
}
.carto-cat-2 {
    background-color: #ffae5e !important;
}
.carto-cat-3 {
    background-color: #ff5e1f !important;
}
.transparent{
  fill: transparent;
}
