color-palette {
  @extend .secondary-font;
  color: $text-color;

  .category {
    .title {
      @extend .montserrat-bold-upper;
    }

    .subtitle {
      color: $faded-text;
    }

    .color {
      .name, .code {
        color: $faded-text;
      }
    }
  }
}
