color-palette {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  @extend .secondary-font;
  font-weight: bold;
  color: $textColor;

  .category {
    display: flex;
    border-bottom: solid 1px $grey;

    &:last-child {
      border-bottom-color: transparent;
    }

    .title {
      @extend .montserrat-bold-upper;
      font-size: larger;
      width: 9em;
    }

    .subtitle {
      font-size: small;
      margin-bottom: 2em;
      color: $faded-text;
    }

    .color {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      margin-left: 0.5em;
      width: 12em;

      .preview {
        margin: auto;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-bottom: 0.5em;
        cursor: pointer;
      }

      .name, .code {
        height: 1em;
        color: $faded-text;
        text-align: center;
      }

      .code {
        display: none;
        opacity: 0.8;
      }

      &:hover, &:focus, &:active {
        .name {
          display: none;
          height: 1em;
        }

        .code {
          display: block;
        }
      }
    }
  }
}
