.dashboard-report__background-image,
.dashboard-report__background-overlay {
  background-color: $main-color;
}

.execsum {

  dashboard-report {
    .search-selected-container {
      background: $search-selected-bg-color;
    }
    .search-selected-peers {
      background:linear-gradient(
      transparentize($execsumBgColor, 0.4),
      transparentize($execsumBgColor, 0.4)
      );
    }
    .search-report-container {
      .multi-select-search__display {
        box-shadow: 0 0 0 3px #fff inset;
        color: #fff;

        &:hover {
          background-color: transparent;
          color: #fff;
        }
      }
    }
    .tc-date-dropdown {
      .multi-select-search__display {
        background-color: $emphasis-color;
        color: #fff;
        box-shadow: none;
      }
    }

    .category {
      > .name {
        @extend .line-interruted-by-text;
      }
      .kpi {
        color: $text-color;

        &.worse {
          .value, .comment .icon {
            color: $negative-color;
          }
        }

        &.better {
          .value, .comment .icon {
            color: $positive-color;
          }
        }

        .link {
          border: 2px solid transparentize($text-color, .7);
        }

        &.linked {
          &:hover, &:focus, &:active {
            border-color: $emphasis-color;

            .name {
              color: $emphasis-color;
            }

            .link {
              background-color: $emphasis-color;
            }
          }
        }

        .source {
          color: $faded-text;
        }

        .widget-type-heatmap {
          .heatmap-dots {
            border-bottom: dotted 2px $grey;
          }
        }
        .widget-type-score-card {
          .sc-entry {
            .sc-dots {
              border-bottom: dotted 2px $grey;
            }
          }
        }

        .widget-type-leaderboard {
          .widget-chart-container {
            .bar:not(.sentiment-zones) {
                fill: map-get($chartColors,1);
              }
            .target:not(.sentiment-zones) {
                fill: map-get($chartColors,3);
              }
          }
          .horizontal-barchart-subgroup.horizontal-barchart-subgroup--highlighted .bar-label {
            color: $emphasis-color;
            fill: $emphasis-color;
          }
        }
      }
    }

    .dashboard-report__date, .chart-controller {
      border: 3px solid transparentize(white, 0.6);
      color: white;
      background-color: transparent;

      &:not(.active):first-child {
        border-left: 3px solid transparentize(white, 0.6);
      }

      &:not(.disabled):hover {
        background-color: $emphasis-color;
        color: white;
      }

      &.active {
        background-color: $emphasis-color;
        border-color: $emphasis-color;
      }
    }
  }
}

.admin-actions {
  .action {
    background-color: $execsumArrowColor;
    color: $execsumBgColor;

    &:hover {
      background-color: $emphasis-color;
      color: $execsumArrowColor;
    }
  }
}

.logout {
  background: $main-color;
  &:hover, &:focus {
    background: $emphasis-color;
  }
}

.bottom-button-mode {
  background-color: $toucan-button-hover-blue;

  &:hover {
    background-color: $emphasis-color;
  }
}

.dashboard-report__action-button {

  &:hover {
    color: $text-color!important;
  }
}

a.bottom-button-mode--thot {
  background-color: #76B2CA;
  color: white;
  text-decoration: none;
}

.menu-left-bar {
  background: $main-color-fade;
}
