.execsum {

  dashboard-report {
    background-color: $main-color;

    .search-selected-container {
      background: $search-selected-bg-color;
    }
    .search-selected-peers {
      background:linear-gradient(
      transparentize($execsumBgColor, 0.4),
      transparentize($execsumBgColor, 0.4)
      );
    }

    .category {
      > .name {
        @extend .line-interruted-by-text;
      }
      .kpi {
        color: $text-color;

        &.worse {
          .value, .comment .icon {
            color: $negative-color;
          }
        }

        &.better {
          .value, .comment .icon {
            color: $positive-color;
          }
        }

        .link {
          border: 2px solid transparentize($text-color, .7);
        }

        &.linked {
          &:hover, &:focus, &:active {
            border-color: $emphasis-color;

            .name {
              color: $emphasis-color;
            }

            .link {
              background-color: $emphasis-color;
            }
          }
        }

        .source {
          color: $faded-text;
        }

        .widget-type-score-card {
          .sc-entry {
            .sc-dots {
              border-bottom: dotted 2px $grey;
            }
          }
        }

        .widget-type-leaderboard {
          .widget-chart-container {
            .bar {
              fill: nth($chartColors,2);
            }
          }
        }
      }
    }

    .date-report {
      display: inline-block;

    }
    .date-report, .chart-controller {
      @extend .bordered-button-inverted;
      @extend .bordered-button-medium;
      &:not(.disabled):hover {
        background-color: $emphasis-color;
        color: white;
      }
      &.active {
        background-color: $emphasis-color;
        border-color: $emphasis-color;
      }
      padding: 0 15px;
      &:first-child {
        // override the usual style for controller buttons
        @extend .bordered-button-inverted;
        @extend .bordered-button-medium;
      }
    }
  }
}

.admin-actions {
  .action {
    background-color: $execsumArrowColor;
    color: $execsumBgColor;

    &:hover {
      background-color: $emphasis-color;
      color: $execsumArrowColor;
    }
  }
}

.logout {
  background: $main-color;
  &:hover, &:focus {
    background: $emphasis-color;
  }
}
