dropdown .selected-label {
  .select-entity-dropdown {
    .entity, .entity-header {
      color: $text-color;
      &.entity-selected {
        background: $emphasis-color;
        color: #fff;
      }

      &.selected, &:active, &:hover {
        @extend .entity-selected;
      }
    }

    &.open {
      &.searchBox{
        >.select-entity-dropdown {
          box-shadow: 4px 4px 0px 0px $shadow-color;
        }
      }
    }
  }
}
