filter, requester {
  tc-slider {
    .tc-slider {
      border-color: $controllerColor;
    }
  }
  controller-buttons {

    .chart-controller {
      color: $controllerColor;
      background-color: #fff;
      border-top: 1px solid $controllerColor;
      border-bottom: 1px solid $controllerColor;
      border-right: 1px solid $controllerColor;

      &:first-child {
        border-left: 1px solid $controllerColor;
      }


      @include respond-to(phone) {
        border-color: $button-inactive-color;
        color: $button-inactive-color;
      }

      &.active {
        background-color: $controllerColor;
        color: #fff;
      }
    }
  }
}

requester.bottom-right,
filter.bottom-right{
  .tc-dropdown__display {
    box-shadow: 0 0 0 1px $main-color inset;
    color: $main-color;
  }

  .tc-dropdown__display--active {
    background-color: $main-color;
    box-shadow: none;
    color: #fff;
  }
}
