.radio, .checkbox {

  label {

    &::before {
      border: solid 1px $faded-text;
      color: $emphasis-color;
    }
  }

  input:checked + label::before {
    background-color: $emphasis-color;
  }
}
