.radio, .checkbox {

  input {
    &[type="radio"], &[type="checkbox"] {
      display: none;
    }
  }

  label {
    font-weight: normal;
    padding-left: 0;

    &::before {
      content: '';
      display: inline-block;
      cursor: pointer;
      height: 1em;
      width: 1em;
      margin-right: 1em;
      border: solid 1px $faded-text;
      box-shadow: inset 0 0 0 1px transparentize(white, 0.5);
      color: $emphasis-color;
      text-align: center;
    }
  }

  input:checked + label::before {
    background-color: $emphasis-color;
      box-shadow: inset 0 0 0 1px transparentize(white, 0);
  }
}
