header {
  background: $backgroundHeaderColor;
  box-shadow: 0px 2px 9px -2px $home-shadow-color;
}

.header {
  background: $backgroundHeaderColor;
  box-shadow: 0px 2px 9px -2px $home-shadow-color;
  .header-button {
    @extend .bordered-button-discreet;
  }
  .report-entity {
    @extend .header-button;
    border-color: $text-color;
    color: $text-color;
    top: -8px;
  }

}
