.search-report-container .multi-select-search__display,
.header__app-report-requester .tc-dropdown__display--search {
  box-shadow: 0 0 0 3px $text-color inset;
  color: $text-color;

  &:hover {
    background-color: $text-color;
    color: #fff;
  }
}

.header {
  background: $backgroundHeaderColor;
  box-shadow: 0px 2px 9px -2px $home-shadow-color;
  color: $text-color;
  .header-button {
    @extend .bordered-button-discreet;
  }
}

.report-selector-button {
  @extend .bordered-button-discreet;
  cursor: default;
  top: -8px;
}

.header__requester {
  @media screen and (min-width: $screen-phone-max+1) {
    //We can't @extend inside a @media or @include
    @include bordered-button-creator($text-color);
  }

  @include respond-to(phone) {
    background-color: $main-color;
  }
}
