.execsum {
  > div {
    @extend .full-content;
  }

  .report-execsum {
    padding-top: 35px;
    color: #fff;
  }
  .execsum-title {
    @extend .font-execsum-title;
    @include respond-to(phone) {
      padding-top: 10px;
    }
  }
  .execsum-content {
    letter-spacing: 2px;
    @extend .font-execsum-content;

    .emphasize {
      @extend .font-execsum-content-emphasize;
    }
  }
  .execsum-note {
    @extend .secondary-font;
    font-size: 15px;
    position: absolute;
    bottom: 32px;
    right: 58px;
  }
  .show-report-container {
    color: $execsumArrowColor;
    text-align: center;
    margin: auto;
    text-align: center;
    font-size: 5em;
    padding-bottom: .5em;

    @include respond-to(phone) {
      font-size: 3em;
    }

    .icon {
      cursor: pointer;
    }
  }

  @for $i from 1 through 10 {
    .bg-#{$i} {
      background: url('bg-#{$i}.png');
      background-size: cover;
      &.bg-overlay {
        background:
        linear-gradient(
        transparentize($execsumBgColor, $transparentize-execsum-bg-overlay),
        transparentize($execsumBgColor, $transparentize-execsum-bg-overlay)
        ),
        url('bg-#{$i}.png');
        background-size: cover;
      }
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
}
