.icon-d3 {
  &.positive {
    fill: $aboveAverageColor;
  }

  &.negative {
    fill: $underAverageColor;
  }

  &.neutral {
    fill: $text-color;
  }
}
.icon{
  &.better {
    color: $positive-color;
  }
  &.worse {
    color: $negative-color;
  }
}
