.icon-d3 {
  &.positive {
    fill: $aboveAverageColor;
  }

  &.negative {
    fill: $underAverageColor;
  }

  &.neutral {
    fill: $text-color;
  }
}
@each $name, $color in $sentimentColors {
  .icon[data-sentiment="#{$name}"] {
    color: $color;
  }

  .icon-d3[data-sentiment="#{$name}"] {
    fill: $color;
  }

  .icon-d3.color[data-sentiment="#{$name}"] {
    color: $color;
  }
}
.icon{
  &.better {
    color: $positive-color;
  }
  &.worse {
    color: $negative-color;
  }
}
