$knHeight: 122px;
$knHeightLarge: 212px;
$knPaddingLeft: 20px;
$knPaddingRight: 20px + $scrollbarSize;
$knPaddingBottom: 30px ;
$knPaddingTop: 32px;
$knPaddingVertical: 20px;
$knPaddingHorizontal: 32px;
$knTitleHeight: 45px;

$knPaddingVertical-mobile: 13px;
$knPaddingHorizontal-mobile: 13px;

kpinavigator {
  background-color: $main-color-fade;
  width: $kpiNavigatorWidth + $scrollbarSize;
  @include overflow-y-wrapper();
  overflow-x: hidden;

  .kpi-navigator-create-slide-container {
    text-align: center;
    cursor: pointer;
    .icon-create-new-slide {
      font-size: 60px;
      opacity: 0.6;
      border: 1px dashed;
      padding: 20px;
      margin-top: 47px;
    }

  }

  @include respond-to(phone) {
    width: 100%;
    height: $kpiNavigatorHeight-mobile;
    @include overflow-x-wrapper();
    overflow-y: hidden;
  }
}

.kpi-navigator-container {
  @extend .full-content;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond-to(phone) {
    width: auto;
    flex-direction: row;
  }
}

.kpi-navigator-unit {
  max-height: $knHeightLarge;
  border-bottom: 2px solid #fff;
  color: #fff;
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  padding: $knPaddingHorizontal $knPaddingVertical;

  @include respond-to(phone) {
    flex: none;
    height: 100%;
    width: $knWidth-mobile;
    padding: $knPaddingHorizontal-mobile $knPaddingVertical-mobile;
    border-bottom: none;
    border-right: 1px solid #fff;
  }

  &.selected {
    color: #fff;

    .kpi-encoche {
      background: url('images/encoche.png');
      position: absolute;
      right: $scrollbarSize;
      top: $knHeight/2 - 23;
      width: 22px;
      height: 45px;
      background-size: 22px 45px;

      @include respond-to(phone) {
        bottom: -$scrollbarSize - 5px;
        left: $knWidth-mobile/2 - 5;
        width: 10px;
        height: 20px;
        background-size: 10px 20px;
        transform: rotate(90deg);
        top: auto;
      }
    }

    .kpi-navigator-evolution {
      color:#8D96A5;
    }
  }
}

.kpi-navigator-separator-container {
  margin-top: 18px;
  width: 100%;
  .kpi-navigator-separator {
    width: 13px;
    border-bottom: 1px solid #fff;
  }
}

.kpi-navigator-title {
  width: 100%;
  @extend .font-kpi-navigator-title;
  min-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;

  @include respond-to(phone) {
    height: 20px;
    min-height: initial;
  }
}

.kpi-navigator-kpis {
  margin-top: 23px;

  @include respond-to(phone) {
    margin-top: 0;
    padding-right: 0;
  }
}

$kpiValueWidth: 90px;

.kpi-navigator-kpis{
  .icon {
    float: left;
    vertical-align: middle;
    font-size: 2.4em;
    margin-right: 15px;
    &.icon-bullet{
      font-size: 1em;
    }
  }
}

.kpi-navigator-value {
  @extend .font-kpi-navigator-value;
  .kpi-navigator-value-unit {
    @extend .font-kpi-navigator-value-unit;
  }
  @include respond-to(phone) {
    font-size: 22px;
    padding-left: 25px;
  }

}

.kpi-navigator-label {
  margin-top: 4px;
  display: inline-block;
  vertical-align: middle;
  @extend .font-kpi-navigator-label;

  @include respond-to(phone) {
    .kpi-navigator-comment {
      display: none;
    }
    .icon.icon-badge {
      position: absolute;
      bottom: 18px;
      font-size: 18px;
      line-height: 22px;
      &.icon-bullet {
        font-size: 13px;
        bottom: 14px;
      }
    }
  }
}
