.legend-container {
  .legend-group {
    &:last-of-type{
      .legend-color-reminder {
        background-color: $colorChart2;
      }
    }
    &:first-of-type{
      .legend-color-reminder {
        background-color: $colorChart0;
      }
    }
    .legend-color-reminder {
      position: absolute;
      top: -13px;
      background-color: $colorChart0 ;

      &.bar-0 {
        background-color: $colorChart0 ;
      }
      &.bar-1 {
        background-color: $colorChart2 ;
      }
    }
  }
}
