@import 'icons';

$paddingLeftMenu: 30px;
$paddingLeftMenu-mobile: 20px;
$nav-menu-border-width: 2px !default;

$iconHomeWidth:25 + 2 *  $paddingLeftMenu ;
$declinaisonWidth: 165px;
$dateWidth: 125px;

$navmenu-button-padding: 2em;

$nav-menu-color: white !default;
$nav-menu-bg-color: $main-color-fade !default;
$nav-menu-fade-color: $main-color !default;
$nav-menu-fade-hover-color: transparentize($nav-menu-color, 0.5) !default;
$nav-menu-selected-color: $main-color !default;

nav-menu {
  position: absolute;
  width: $offsetMenu;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $nav-menu-bg-color;
  transform: translateX(-100%) translateZ(0);
  transition: transform $transition-duration/2 $transition-type;
  z-index: 10;
  box-shadow: 1px 0px 7px 0px $shadow;

  @include respond-to(phone) {
    width: $offsetMenu-mobile;
  }

  &.opened {
    transform: translateX(0) translateZ(0);
  }

  .nav-menu-content {
    flex: 1;
    @include overflow-y-wrapper();
  }

  .nav-menu-brand {
    display: flex;
    align-items: stretch;
    height: $headerHeight;
    background-color: $nav-menu-color;
    @extend .font-nav-menu-brand;
    @include transition(300ms, ease-in-out);

    @include respond-to(phone) {
      height: $headerHeight-mobile;
    }

    .brand-client {
      margin: 0px;
      margin-left: $paddingLeftMenu;

      @include respond-to(phone) {
        padding-left: $paddingLeftMenu-mobile;
      }
    }

    .report-chooser {
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;

      min-width: 120px;
    }

    .home-button {
      padding-left: $navmenu-button-padding;
      padding-right: $navmenu-button-padding;
      display: flex;
      align-items: center;
      color: $home-button-color;
      cursor: pointer;
      line-height: 1.5;

      @include respond-to(phone) {
        padding: 0 $paddingLeftMenu-mobile;
        background-color: $home-button-color;
        color: white;
      }

      .icon-back_home {
        font-size: 2em;
      }
    }

  }

  .choose-generic {
    @extend .font-nav-menu-reports;
    color: #4c4c4c;
    text-align: center;
    margin: 1em;

    .selected {
      display: inline-block;
      position: relative;
    }

    .selected-underbar {
      width: 100%;
      position: relative;
      top: 5px;
      height: 2px;
      background: #d9d9d9;

      @include respond-to(phone) {
        height: 1px;
      }
    }
  }

  .choose-declinaison-container{
    @extend .choose-generic;
    /*width: $declinaisonWidth;*/
  }
  .choose-date-container{
    @extend .choose-generic;
    /*width: $dateWidth;*/
  }

  .select-report-container {
    background-color: $metaColor;
    color: #fff;
    @extend .font-nav-menu-reports;
    .blank {
      height: 25px;
    }
    .select-generic{
      vertical-align: top;
      display: inline-block;
      opacity: 0;
      @include transition(300ms, ease);
      &.active {
        opacity: 1;
      }
      .select-item {
        line-height: 48px;
        padding-left: 10px;
        margin-left: -10px;
        &.selected {
          background: darken($metaColor,10%);
        }
      }
    }
    .select-declinaison-list{
      width: $declinaisonWidth;
      margin-left: $iconHomeWidth ;
      @extend .select-generic;
    }
    .select-date-list{
      display: inline-block;
      width: $dateWidth;
      @extend .select-generic;
    }
  }

  tc-brand-element {
    padding-left: $paddingLeftMenu;
    width: 100%;

    span {
      opacity: 0.8;
    }

    @include respond-to(phone) {
      padding-left: $paddingLeftMenu-mobile;
    }
  }

}


@import 'navigation/nav-menu-item';
