notifications {
  .notification {
    background: $notification-bg;
    color: $notification-color;

    .text {
      color: $notification-faded;

      strong {
        color: $notification-color;
      }
      @include respond-to(phone) {
        color: $notification-color;
      }
    }
  }
}
