.chart-legend-right, legend {
  background-color: $backgroundSlideCommentary;

  .selected-label {
    .reminder-color-entity-select {
      background-color: $emphasis-color;
    }
  }

  .group-color {
    &.group-color-0 {
      background-color: $barStackColor0;
    }
    &.group-color-1 {
      background-color: $barStackColor1;
    }
    &.group-color-2 {
      background-color: $barStackColor2;
    }
    &.group-color-3 {
      background-color: $barStackColor3;
    }
    &.group-color-4 {
      background-color: $barStackColor4;
    }

  }
  /* Colors */
  @each $color in $chartColors {
    $i: index($chartColors, $color) - 1;
    [data-serie="#{$i}"], [data-serie-index="#{$i}"] {
      @include colorSVGElement($color);
    }
  }

  .color-selected-value{
    background-color: $emphasis-color;
    &.bar-0 {
      background-color: $colorChart0 ;
    }
    &.bar-1 {
      background-color: $colorChart2 ;
    }
  }

  .selected-kpis{
    .kpi-group{
      &.selected {
        border-color: $emphasis-color;

        @each $color in $scaleColors {
          $i: index($scaleColors, $color) - 1;
          &[data-scale-index="#{$i}"] {
            border-color: transparent;
            background-color: $color;
            color: white;
          }
        }
      }
    }
  }
}
@include respond-to(phone) {
  .with-settings-pane .mobile-legend {
    display: none;
  }
  .mobile-legend {
    background-color: $mobileLegendBackgroundColor;

    .mobile-commentary {
      .slide-commentary-container {
        padding: $mobileLegendPadding;
        height: auto;
        letter-spacing: 0px;
      }
    }

    .mobile-legend-handle {
      color: $faded-text;
    }
  }
}
