settings-panel {
  filter, requester {
    tc-slider {
      .tc-slider {
        border-color: white;
        .rz-bubble {
          color: white;
        }
        .rz-bar, .rz-bar.rz-selection {
          background: white;
        }
      }
    }


  }

  background: $main-color;
  .settings-button-container {
    >.settings-button.with-notification::after {
      background: $emphasis-color;
    }
    >.settings-button {
      background: $main-color;

      &.highlighted {
        background: $emphasis-color;
      }
    }
  }

  > .settings-content {

    .settings-tab-heading {
      background: $settings-panel-tab-heading-bg;

      .settings-tab-heading-item {
        // Active indicator
        &::after {
          border-bottom-color: $main-color;
        }

        &:hover {
          .icon-tab {
            background: lighten($settings-panel-tab-inactive-color, 5);
          }
          .icon-explanation {
            color: lighten($settings-panel-tab-inactive-text-color, 5);
          }
        }

        &.active {
          .icon-tab {
            background: #fff;
          }
          .icon-explanation {
            color: white;
          }
          .icon-tab {
            color: $settings-panel-tab-inactive-color;
            svg path {
              fill: $settings-panel-tab-inactive-color;
            }
          }
        }

        .icon-tab {
          background: $settings-panel-tab-inactive-color;
        }
        .icon-tab.with-notification:after {
          background: $emphasis-color;
        }

        .icon-explanation {
          color: $settings-panel-tab-inactive-text-color;
        }
      }
    }
    .settings-tab-content {
      box-shadow:0px 0px 40px 0px $shadow-color;

      .tab-indicator {
        border-bottom-color: $main-color;
      }
    }
    .share-container {
      .share-actions-container {
        .share-action{
          @extend .bordered-button-inverted;
        }
      }
    }
    .settings-tab-footer {
      background: darken($main-color, 10);
      box-shadow:0px -5px 12px 0px rgba(50, 50, 50, 0.30);
    }

  }
}
