.slide-navigator {
  background-color: $main-color-fade;

  .slide-navigator__unit {
    color: white;

    @include respond-to(phone) {
      .slide-navigator__title {
        color: $main-color-dark;
      }
    }

    &.selected {
      background-color: $nav-menuColor1;

      @include respond-to(phone) {
        background-color: transparent!important;
      }

      .slide-navigator__title {
        color: white;
      }
    }
  }

  .swiper-slide-active .slide-navigator__title {
    color: white;
  }
}

.slide-navigator__edit-title-container {
  &:before {
    color: darken($nav-menu-bg-color, 30%);
  }
}
