.sparkline {
  .area {
    fill: $sparkline-fill;
  }

  circle.selection {
    fill: $averageBoxColor;
  }

  line.selection {
    stroke: $sparkline-selection-stroke;
  }
}
.widget-sparkline-container {
  .line {
    stroke: nth($chartColors,1);
  }

  .sparkline-selected {
    background: $text-color;
  }
}
