[data-label="banque-chalus-2014"] {
  text {
    fill: $red;
  }
}

[data-color="groupe-1"] {
  background-color: $colorChart0 !important;
  fill: $colorChart0 !important;
  stroke: darken($colorChart0,15%) !important;
}
circle[data-color="csp"] {
  fill: $colorChart2 !important;
  stroke: darken($colorChart2,15%) !important;
  &.no-benchmark {
    background-color: $colorChart2 !important;
  }
}
circle[data-color="age"] {
  fill: $colorChart1 !important;
  stroke: darken($colorChart1,15%) !important;
  &.no-benchmark {
    background-color: $colorChart1 !important;
  }
}
.Homme {
  &.no-benchmark {
    &.force-color{
      background-color: $scaleColor1 !important;
    }
  }
}
.Femme {
  &.no-benchmark {
    &.force-color{
      background-color: $scaleColor2 !important;
    }
  }
}
circle[data-color="homme"] {
  background-color: $scaleColor1 !important;
  fill: $scaleColor1 !important;
  stroke: darken($scaleColor1,15%) !important;
}
circle[data-color="femme"] {
  background-color: $scaleColor2 !important;
  fill: $scaleColor2 !important;
  stroke: darken($scaleColor2,15%) !important;
}

chart {
  [data-subgroup="homme"] {
    @include colorSVGElement(darken($scaleColor1,15%));
  }
  [data-subgroup="femme"] {
    @include colorSVGElement(darken($scaleColor2,15%));
  }
}

