tc-splash {
  position: absolute;
  @extend .full-content;
  z-index: 1000;

  background-color: $splash-color;
  background-image: url("../images/splash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include respond-to(phone) {
    background-image: url("../images/splash-phone.jpg");
  }

  display: block;
  opacity: 1;
  transition: opacity 700ms ease-in;

  &.ng-leave-active {
    opacity: 0;
  }
}
