.select2-dropdown {
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 4px 4px 0px 0px $shadow-color;
  color: $text-color;
}
.select2-results__option--highlighted {
  background-color: $emphasis-color;
  color: white;
}
.select2-search__field {
  border: 2px solid $greyLight;
  color: $text-color;
}
.select2-search__field:focus {
  border: 2px solid $emphasis-color;
}
.select2-search::after {
  color: $text-color;
}
.select2-search:focus {
  color: $emphasis-color;
}
