.tooltip-box {
  background-color: $averageBoxColor;
  color: $averageBoxText;
}

md-tooltip {
  .md-background {
    background-color: $md-tooltip-bg-color;
  }

  .md-content {
    color: $averageBoxText;
  }
}

.small-app-tooltip {

  ._720kb-tooltip-caret {
    &::before {
      border-color: $averageBoxColor;
    }
  }
}

.small-app-tooltip-modal {
  @extend .small-app-tooltip;
  z-index: 10000;
}

.small-app-tooltip-long {
  @extend .small-app-tooltip;
  text-align: left;
  width: 300px;
  text-transform: none;
}
