update-version {
  z-index: 50;

  .title,
  .logo,
  .validate-button-container {
    z-index: 30;

    .validate-button {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  @include respond-to(tablet) {
    .title {
      margin-top: 2em;
    }
    .validate-button-container {
      margin-top: 2.5em !important;
    }
  }
}
