.variation-legend {
  .arrow-up-down {
    border-left: solid 1px $faded-text;
  }
}

.variation {

  > .icon {
    &.icon-positif {
      color: $positiveColor;
    }

    &.icon-negatif {
      color: $negativeColor;
    }
  }
}
