// Color palette
$main-color: #88b2a8 !default;
$main-color-fade: #b2cdc6 !default;
$text-color: #4C4C4C !default;
$dark-color: #000000 !default; // FIXME Unused
$emphasis-color: #f3c642 !default;
$secondary-emphasis-color: #e78352 !default;
$scale-color-0: #B3D7D2 !default;
$scale-color-1: #81B1BD !default;
$scale-color-2: #437F9D !default;
$scale-color-3: #00354E !default;

$chart-color-0: #9394b4 !default;
$chart-color-1: #d8c03d !default;
$chart-color-2: #b0c297 !default;
$chart-color-3: #61839b !default;
$chart-color-4: #60947f !default;
$chart-color-5: #736b88 !default;
$chart-color-6: #637939 !default;
$chart-color-7: #ad494a !default;
$chart-color-8: #a0a0a0 !default;
$chart-color-9: #b39286 !default;
$chart-color-10: #d09da1 !default;
$chart-color-11: #b09c4d !default;
$chart-color-12: #9eb6c8 !default;
$chart-color-13: #ace0c6 !default;
$chart-color-14: #d8773d !default;
$chart-color-15: #a9d9df !default;
$chart-color-16: #b96e6e !default;
$chart-color-17: #d8d63d !default;
$chart-color-18: #407181 !default;
$chart-color-19: #d3bdde !default;

$main-color-dark: darken($main-color, 6%) !default;

$emphasis-color-light: #fffaec;

$offsetMenu: 400px;
$headerHeight: 90px;
$viewportHeight: 768px;
$viewportWidth: 1024px;
$kpiNavigatorWidth:192px;
$scrollbarSize: 0;
$scroll-cue-height: 150px;
$slide-height: $viewportHeight - $headerHeight;
$commentary-height: 110px;
$admin-footer-height: 50px;
$header-report-selector-dropdown-max-height: 50vh;

/******* RESPONSIVENESS ****/
$headerHeight-mobile: 60px;
$offsetMenu-mobile: 80%;
$kpiNavigatorHeight-mobile: 45px;
$knWidth-mobile: 130px;
$scroll-cue-height-mobile: 50px;
// Mobile legend/pane-details
$mobileLegendPositionTop: 15px;
$mobileLegendBackgroundColor: #FFF;
$mobileLegendPadding: 15px;
$mobileLegendHandleHeight: 50px;
$mobile-charts-wrapper-margin-bottom: $mobileLegendHandleHeight + 30px;


$tc-slider-width: 350px;
$screen-phone-max: 767px;
$screen-tablet-max: 1024px;

@mixin respond-to($media) {
  @if $media == phone {
    @media screen and (max-width: $screen-phone-max),
      projection and (max-width: $screen-phone-max) {
      @content;
    }
  }
  @else if $media == tablet {
    @media screen and (min-width: $screen-phone-max+1) and (max-width: $screen-tablet-max),
      projection and (min-width: $screen-phone-max+1) and (max-width: $screen-tablet-max) {
      @content;
    }
  }
  @else if $media == desktop {
    @media screen and (min-width: $screen-tablet-max+1),
    projection and (min-width: $screen-tablet-max+1){
      @content;
    }
  }
}

.mobile-only {
  @include respond-to(tablet) {
    display: none !important;
  }
  @include respond-to(desktop) {
    display: none !important;
  }
}

.no-mobile {
  @include respond-to(phone) {
    display: none !important;
  }
}
/*** TRANSTIONS ***/
$transition-type: ease;
$transition-duration: 0.6s;

/******** CHARTS *******/

$chartWidth: 590px;
$marginChart: 30px;
$chartLegendWidth:  $viewportWidth - $kpiNavigatorWidth - $chartWidth ;
$chartLegendWidthShrink: $chartLegendWidth - 20;
$groupColorWidth: 13px;
$charts-font-size: 16px;

$charts-font-size-mobile: 13px;

/**** COLORS ******/
$splash-color: black;


$metaColor: #2a5c74;

$nav-menuColor1: $main-color;
$nav-menuColor1_2: $main-color-fade;


$red: #ec1b2f;

$controllerColor: $main-color;
$execsumColor: #3fb9be;
$greyMissing: #ddd;

$inactive-color: #bfbfbf;

$positive-color: #34b364 !default;
$negative-color: #ec1b2f !default;
$warning-color: #FFAF46 !default;
$neutral-color: #333 !default;
$verypositive-color: #ff00ff !default;
$verynegative-color: #ff00ff !default;
$sentiment-extra-color: #ff00ff !default;



$aboveAverageColor: $positive-color;
$underAverageColor: $negative-color;
$averageBoxColor: #4e4e4e;
$averageBoxText: #fff;
$averageLineColor: #808080;

$chartColors: $chart-color-0 $chart-color-1 $chart-color-2 $chart-color-3 $chart-color-4 $chart-color-5 $chart-color-6 $chart-color-7 $chart-color-8 $chart-color-9 $chart-color-10 $chart-color-11 $chart-color-12 $chart-color-13 $chart-color-14 $chart-color-15 $chart-color-16 $chart-color-17 $chart-color-18 $chart-color-19;
$stackedColors: $chart-color-0 $chart-color-1 $chart-color-2 $chart-color-3 $chart-color-4 $chart-color-5 $chart-color-6 $chart-color-7 $chart-color-8 $chart-color-9 $chart-color-10 $chart-color-11 $chart-color-12 $chart-color-13 $chart-color-14 $chart-color-15 $chart-color-16 $chart-color-17 $chart-color-18 $chart-color-19;
$sentimentColors: (
  positive: $positive-color,
  negative: $negative-color,
  warning: $warning-color,
  neutral: $neutral-color,
  verypositive: $verypositive-color,
  verynegative: $verynegative-color,
  sentimentExtra: $sentiment-extra-color
);

$comparisonColor: #D3EFF4;


$waterfallInitialColor: #00354e;
$waterfallPositiveColor: $positive-color;
$waterfallNegativeColor: $negative-color;

$slopegraphLineColor: #437f9d;

$colorChart0: $chart-color-0;
$colorChart1: $chart-color-1;
$colorChart2: $chart-color-2;
$colorChart3: $chart-color-3;
$colorChart4: $chart-color-4;

$scale-colors: $scale-color-0 $scale-color-1 $scale-color-2 $scale-color-3;
$scaleColors: $scale-colors;

$scaleColor0: $scale-color-0;
$scaleColor1: $scale-color-1;
$scaleColor2: $scale-color-2;
$scaleColor3: $scale-color-3;

$barStackColor0: $colorChart0;
$barStackColor1: $colorChart1;
$barStackColor2: $colorChart2;
$barStackColor3: $colorChart3;
$barStackColor4: $colorChart4;

$shadow-color: rgba(0, 0, 0, 0.15);

/**** COLORS TO ORDER ******/
// FIXME order this file !
$neutralColor: #437f9d;

$greyLight: #f5f5f5;
$grey: #ededed;

$backgroundSlideCommentary: $greyLight;

$text-color: #4c4c4c !default;
$faded-text: #b4b4b4;

$dropAreaTextColor: #b7d1cb;
$backgroundDropAreaColor: #f5faf9;
$paddingLeftSlide: 45px;
$paddingRightSlide: 20px;
$paddingTopComment: 35px;



/**** HOME ****/
$execsumBgColor: $main-color;
$transparentize-execsum-bg-overlay: 0.3; // 0: opaque overlay, 1: no overlay
$execsumArrowColor: white;
$search-selected-bg-color: transparentize($execsumBgColor, $transparentize-execsum-bg-overlay);
$cartoSelectedColor: $emphasis-color;

$sparkline-fill: $main-color-fade;
$sparkline-selection-stroke: $main-color;

$home-button-color: $emphasis-color;
$home-secondary-color: white;
$home-shadow-color: rgba(50, 50, 50, 0.33);
$backgroundHeaderColor: $home-secondary-color;

/*** SMALL APP ***/
// NAV-MENU
// Colors
$nav-menu-color:                              white !default;
$nav-menu-bg-color:                           $main-color-fade !default;
$nav-menu-fade-color:                         $main-color !default;
$nav-menu-fade-hover-color:                   transparentize($nav-menu-color, 0.5) !default;
$nav-menu-selected-color:                     $main-color !default;
// Dimensions
$nav-menu-padding-left:                       30px;
$nav-menu-padding-left-mobile:                20px;
$nav-menu-border-width:                       2px !default;
$nav-menu-icon-home-width:                    25 + 2 *  $nav-menu-padding-left;
$nav-menu-button-padding:                     2em;
$nav-menu-declinaison-width: 165px;
$nav-menu-date-width: 125px;

// NAV-MENU-ITEM
// Colors
$nav-menu-item-color:                         $nav-menu-color !default;
// Dimensions
$nav-menu-item-border-width:                  $nav-menu-border-width !default;
$nav-menu-item-padding-horizontal:            $nav-menu-padding-left !default;
// NAV-MENU-ITEM-CHAPTER/SUBCHAPTER
// Colors
$nav-menu-item-actions-color:                 $nav-menu-fade-color !default;
$nav-menu-item-actions-hover-color:           $nav-menu-color !default;
// Dimensions
$nav-menu-chapter-height:                     100px !default;
$nav-menu-chapter-height-mobile:              80px !default;
$nav-menu-subchapter-height:                  65px !default;
$nav-menu-chapter-padding-bottom:             20px !default;
$nav-menu-subchapter-height-mobile:           58px !default;
$nav-menu-item-actions-size:                  20px !default;

// KPINAVIGATOR
$knHeight:                                    122px;
$knHeightLarge:                               212px;
$knPaddingLeft:                               20px;
$knPaddingRight:                              20px + $scrollbarSize;
$knPaddingBottom:                             30px ;
$knPaddingTop:                                32px;
$knPaddingVertical:                           20px;
$knPaddingHorizontal:                         32px;
$knTitleHeight:                               45px;

$knPaddingVertical-mobile:                    13px;
$knPaddingHorizontal-mobile:                  13px;

$kpiValueWidth:                               90px;

/*** STORE ***/
$new-small-app-primary-color:                 $main-color-dark !default;
$new-small-app-secondary-color:               darken($main-color-fade, 10) !default;

// CHARTS
// BAR/BARLINE
$barColor:                                    nth($chartColors,3);
$lineColor:                                   nth($chartColors,1);
// BULLETCHART
$bullet-chart-detail-block-bg:                #f0f0f0 !default;
$bullet-chart-axis-color:                     #f5f5f5 !default;
$bullet-chart-axis-text-color:                #cacac9 !default;

/*** NEW CHARTS ***/
// TC-LEGEND
$tc-legend-colored-blocks-height:             10px !default;
$tc-legend-colored-blocks-width:              20px !default;
// TC-MAP
// Base colors
$tc-map-base-map-color:                       white !default;
$tc-map-border-color:                         lightergray !default;
// Series colors
$tc-map-categories-colors:                    $chartColors !default;
$tc-map-missing-data:                         $tc-map-base-map-color !default;
$tc-map-selected-color:                       $secondary-emphasis-color !default;
// Animation
$tc-map-transition-duration:                  $transition-duration !default;

/*** SLIDES ***/
// RECOMMENDATION
$recommendation-color:                        $emphasis-color !default;
$recommendation-notifier-width:               70px !default;
// SLIDE EDITOR
$slide-editor-even-bg-color:                  $greyLight !default;
$slide-editor-odd-bg-color:                   white !default;
$drop-zone-color:                             $main-color !default;

// BRAND EDITOR
$upload-drop-border-color:                    darken($main-color-fade, 10) !default;
// NOTIFICATIONS
$notification-line-height:                    1.42em;
$notification-bg:                             $text-color;
$notification-color:                          $home-secondary-color;
$notification-faded:                          #717171;
$notification-padding-horizontal:             2em;
$notification-padding-vertical:               $notification-padding-horizontal / 2;
/*** UTILS ***/
$dialog-min-height:                           250px !default;
$dialog-width:                                350px !default;
$dialog-bg-color:                             $greyLight !default;

/*** Report-selector ***/
$report-selector-main-color:                  $main-color !default;
$report-selector-secondary-color:             $main-color-fade !default;
$report-selector-text-color:                  transparentize(white, 0.3) !default;
$report-selector-half-padding:                20px !default;
$report-selector-overlay-alpha:               .5 !default;
$report-selector-bg-image-desktop:            "tctc-bg-desktop.png" !default;
$report-selector-bg-image-phone:              "tctc-bg-phone.png" !default;
/*** dashboard-report ***/
$dashboard-report-block-height:               190px;
$dashboard-report-min-block-height:           150px;
$dashboard-report-max-block-height:           200px;
$dashboard-kpi-padding:                       20px;
$dashboard-kpi-link-padding:                  .3em;
/*** FILTERS ***/
$button-inactive-color:                       $inactive-color !default;
$bottom-right-filter-bottom:                  2em;
$bottom-right-filter-right:                   $paddingRightSlide + 20px;
/*** HEADER ***/
$headerPaddingTop:                            10px;
$paddingHeader:                               20px;
$menu-button-width:                           50px;
/*** LOGIN ***/
$login-input-height:                          60px;
$login-submit-button-margin-top:              90px;
/*** Settigns panel ***/
$settings-panel-width:                        350px !default;
$mobile-settings-panel-width:                 300px !default;
$settings-panel-tab-heading-bg:               $main-color-dark !default;
$settings-panel-tab-inactive-color:           darken($settings-panel-tab-heading-bg, 7%) !default;
$settings-panel-tab-inactive-text-color:      darken($settings-panel-tab-heading-bg, 15%) !default;
$settings-panel-tab-size:                     60px !default;
$settings-button-size:                        2em;
$settings-panel-tab-horizontal-padding:       10px;
/*** SPARKLINES ***/
$sparkline-fill:                              $main-color-fade !default;
$sparkline-selection-stroke:                  $main-color !default;
/*** STUDIO ***/
$small-apps-list-background:                  #e1e1e1;
/*** TOOLTIP ***/
$md-tooltip-bg-color:                         transparentize($averageBoxColor, 0.3);

/*** TOUCAN COLORS ***/
// These colors will stay the same regardless of the client's colors
$toucan-brand-accent:                         $emphasis-color;
$toucan-button-hover-blue:                    #60919f;


$primary-font-family: 'Montserrat';
$secondary-font-family: 'Roboto Slab';

.primary-font {
  font-family: 'Montserrat';
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.secondary-font {
  font-family: 'Roboto Slab';
  font-weight: 200; 
  letter-spacing: 0px;
}

.standard-font {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}
.montserrat-regular{
  font-family: 'Montserrat';
  letter-spacing: 1px;
}
.montserrat-bold{
  font-family: 'Montserrat';
  font-weight: bold;
  letter-spacing: 1px;
}
.montserrat-bold-upper {
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

$chart-font-family: $primary-font-family;
$column-label-font-family: "Georgia";

$fontSizeBase: 12px;



/* EXECSUM FONTS */
.font-execsum-title {
  @extend .secondary-font;
  font-size: 45px;
  line-height: 55px;

  @include respond-to(phone) {
    font-family: $primary-font-family;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
  }
}
.font-execsum-content {
  @extend .primary-font;
  font-size: 14px;

  @include respond-to(phone) {
    font-size: 11px;
  }
}

.font-execsum-content-emphasize {
  font-weight: bold;
  color: $execsumColor;
}

.font-search-selected-name {
  @extend .secondary-font;
  font-weight: bold;
  font-size: 30px;
  color: white;

  @include respond-to(phone) {
    font-family: $primary-font-family;
    font-size: 22px;
    font-weight: bold;
  }
}

.font-dashboard-report-comment {
  @extend .secondary-font;
  font-size: $fontSizeBase;
}

/* NAVMENU FONTS */

.font-nav-menu-brand {
  @extend .secondary-font;
}

.font-nav-menu-reports {
  @extend .primary-font;
  font-size: 12px;

  @include respond-to(phone) {
    font-size: 11px;
  }
}

$font-size-nav-menu-level1: 32.5px;
$font-size-nav-menu-level1-mobile: 22.5px;
.font-nav-menu-level1{
  @extend .secondary-font;
  font-size: $font-size-nav-menu-level1;

  @include respond-to(phone) {
    font-family: $primary-font-family;
    font-size: $font-size-nav-menu-level1-mobile;
    letter-spacing: normal;
    font-weight: bold;
  }
}
.font-nav-menu-level2{
  @extend .primary-font;
  font-size: 12.5px;

  @include respond-to(phone) {
    font-size: 11px;
  }
}


/* HEADER FONTS */
.font-header-title {
  @extend .primary-font;
  font-size: 17.5px;
  line-height: 30px;
  letter-spacing: 3px;

  @include respond-to(phone) {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
  }
}
.font-header-subtitle {
  @extend .secondary-font;
  font-size: 12.5px;
  line-height: 12.5px;

  @include respond-to(phone) {
    // font-family: $primary-font-family;
    // font-weight: bold;
    font-style: italic;
    font-size: 11px;
  }
}
.font-header-text {
  @extend .secondary-font;
  font-size: 9px;
}

/* NOTIFICATIONS FONTS */
.font-notification {
  @extend .montserrat-bold;
}

/* SLIDE FONTS */
.font-slide-commentary {
  @extend .secondary-font;
  font-size: 17.5px;
  font-weight: normal;
  color : #4c4c4c;
  line-height: 23px;
}
.font-legend-value {
  @extend .primary-font;
  font-size: 22.5px;
  line-height: 27px;
}
.font-legend-label {
  font-family: $primary-font-family;
  font-size: 11px;
}
.font-column-label {
  font-family: $column-label-font-family;
  font-style: italic;
  font-size: 12.5px;
  line-height: 1.1;
}

.font-buttons {
  font-family: $chart-font-family;
  text-transform: uppercase;
  font-style: normal;

  @include respond-to(phone) {
    font-size: 11px;
  }
}

.font-recommendation {
  @extend .secondary-font;
  font-weight: bold;
}

/* KPI NAVIGATOR FONTS */

.font-kpi-navigator-title {
  @extend .primary-font;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;

  @include respond-to(phone) {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1px;
    color: $main-color-dark;
  }
}
.font-kpi-navigator-value {
  /*@extend .secondary-font;*/
  font-family: $primary-font-family;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
}
.font-kpi-navigator-value-unit {
  /*@extend .secondary-font;*/
  font-family: $primary-font-family;
  font-size: 20px;
}
.font-kpi-navigator-label {
  /*@extend .secondary-font;*/
  font-family: $primary-font-family;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

/* SETTINGS PANEL FONTS */
.font-settings-content-title {
	@extend .secondary-font;
  font-size: 28px;
}
.font-settings-content-subtitle {
	@extend .font-kpi-navigator-title;
}
.font-settings-content-text {
	@extend .secondary-font;
  font-style: normal;
  font-weight: normal;
}

/* CHARTS FONTS */
.font-charts {
  font-family: $primary-font-family;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}

/* CARTO FONTS */
.font-legend-carto {
  @extend .secondary-font;
}
.font-carto-details-selected-label {
  @extend .primary-font;
  font-size: 22.5px;
}
.font-carto-details-selected-meta {
  @extend .primary-font;
  font-size: 12px;
}
.font-carto-details-selected-submeta {
  font-family: $primary-font-family;
  font-size: 11px;
}
.font-carto-details-comp-kpi {
  @extend .font-carto-details-selected-submeta;
}
.font-carto-details-kpi-value{
  @extend .primary-font;
  font-size: 17.5px;
}
.font-carto-details-select-entity {
  @extend .secondary-font;
  font-size: 13px;
  line-height: 28px;
}

.font-variation-value {
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  dominant-baseline: middle;

  @include respond-to(phone) {
    font-size: 14px;
  }
}

.font-average-marker-text{
  @extend .secondary-font;
  font-size: 12px;
  text-anchor: middle;
}

/* MODAL */
.font-dialog-content {
  @extend .primary-font;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}


/* DROPDOWN */
.font-dropdown-select-entity {
  @extend .montserrat-bold-upper;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;

  @include respond-to(phone) {
    font-size: 11px;
  }
}

.nav-menu-group {
  .nav-menuSelected {
    background-color: $nav-menuColor1;
  }
}


.kpi-navigator-container {
  .kpi-navigator {
    background-color: $nav-menuColor1_2;
  }
  .kpi-navigator-unit.selected {
    background-color: $nav-menuColor1;
    @include respond-to(phone) {
      background-color: transparent!important;
    }

    .kpi-navigator-title {
      color: white;
    }
  }
}



@mixin transform($translateX: 0px, $translateY: 0px) {
  -webkit-transform: translate3d($translateX, $translateY, 0);
  -moz-transform: translate3d($translateX, $translateY, 0);
  -ms-transform: translate3d($translateX, $translateY, 0);
  transform: translate3d($translateX, $translateY, 0);
}

@mixin rotate($angle) {
  transform: rotate($angle);
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -o-transform: rotate($angle);
  -ms-transform: rotate($angle);
}

@mixin transition($delay: $transition-duration, $ease: $transition-type, $attribute: all) {
  -webkit-transition: $delay $ease $attribute;
     -moz-transition: $delay $ease $attribute;
      -ms-transition: $delay $ease $attribute;
          transition: $delay $ease $attribute;
}

@mixin transition-slide() {
  -webkit-transition: 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -moz-transition: 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -ms-transition: 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  transition: 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
}

@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


$slide-height: $viewportHeight - $headerHeight;
@mixin overflow-x-wrapper() {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  min-width: 1px;
}
@mixin overflow-y-wrapper() {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


@mixin imageWithRetina($url, $width, $height) {
  width: $width;
  height: $height;
  background: url('images/#{$url}.png') no-repeat;
  background-size: $width $height;
  background-position: center;
  @media
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  projection and (-webkit-min-device-pixel-ratio: 2),
  projection and (min-resolution: 192dpi) {
    background: url('images/#{$url}@2x.png') no-repeat;
    background-size: $width $height;
    background-position: center;
  }
}

.full-content {
  width: 100%;
  height: 100%;
}

.button {
  @extend .font-buttons;
  border: 1px solid $main-color;
  background-color: white;
  color: $main-color;
  text-align:center;
  min-width: 125px;
  padding: 15px;
  line-height: 38px;
  font-weight: 400;
  cursor: pointer;

  &.active, &:hover, &:focus {
    background-color: $main-color-fade;
    color: #fff;
  }

  &:hover {
    background-color: $controllerColor;
    color: #fff;
  }
}

/* COMMON CHART CLASSES */

$chart-directive-container-margin-top: 32px;
$chart-directive-container-margin-top-mobile: 0;
$chart-directive-container-margin-top-compact: $chart-directive-container-margin-top / 2;

.chart-directive-container {
  position: relative;
  @extend .full-content;
  margin-top: $chart-directive-container-margin-top;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  @include respond-to(phone) {
    margin-top: $chart-directive-container-margin-top-mobile;
    flex-direction: column-reverse;
  }
}

.compact .chart-directive-container {
  margin-top: $chart-directive-container-margin-top-compact;
}

.chart-container {
  flex: 1;
  align-items: stretch;

  &.with-right-pane {
    overflow: hidden;
  }
}

.secondary  {
  .chart-diretive-container {
    flex-direction: column;
  }
}

.clickable {
  cursor: pointer;
}

@mixin colorSVGElement($color) {
  &.bar, &.arc, &.area, &.legend-rect, &.node, &.node-part, &.target {
    fill: $color;
  }

  > .line, &.line, &.event-line, &.group-overlay , &.group-overlay.selected {
    stroke: $color;
  }

  &.group-color, &.color-selected-value {
    background-color: $color;
  }
}
@mixin colorScoreCardElements($color) {
  .sc-value, .sc-value-unit, .sc-variation > .icon {
    color: $color;
  }
}

@mixin scroll-opaque-cue-bg($color: white) {
  background: -moz-linear-gradient(top, transparentize($color, 1) 0%, transparentize($color, 1) 8%, transparentize($color, 0.22) 79%, transparentize($color, 0) 99%, transparentize($color, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparentize($color, 1)), color-stop(8%, transparentize($color, 1)), color-stop(79%, transparentize($color, 0.22)), color-stop(99%, transparentize($color, 0)), color-stop(100%, transparentize($color, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparentize($color, 1) 0%, transparentize($color, 1) 8%, transparentize($color, 0.22) 79%, transparentize($color, 0) 99%, transparentize($color, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparentize($color, 1) 0%, transparentize($color, 1) 8%, transparentize($color, 0.22) 79%, transparentize($color, 0) 99%, transparentize($color, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparentize($color, 1) 0%, transparentize($color, 1) 8%, transparentize($color, 0.22) 79%, transparentize($color, 0) 99%, transparentize($color, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, transparentize($color, 1) 0%, transparentize($color, 1) 8%, transparentize($color, 0.22) 79%, transparentize($color, 0) 99%, transparentize($color, 0) 100%); /* W3C */
}
