slide-editor {
  section {
    background-color: $slide-editor-odd-bg-color;

    .title {
      .number {
        color: $emphasis-color;
      }
    }
    .subtitle {
      color: $faded-text;
    }

    &:nth-child(even) {
      background-color: $slide-editor-even-bg-color;
    }
  }

  .sample-datasets {
    color: $greyMissing;
  }
  .selected-dataset {
    @include flat-shadowed-box();

    .dataset-details {
      .actions {
        color: $main-color;
        > * {
          border-right: solid 2px $main-color;
        }
      }
    }
  }

  .columns-selector {
    .available-columns,
    .selected-columns {
      .slide-editor-column {
        @include flat-shadowed-box($main-color, $main-color-dark);
        .column-name {
          color: $slide-editor-even-bg-color;
        }
        i {
          color: $main-color-dark;
        }

      }

      .chart-option {
        .drop-area {
          background-color: $backgroundDropAreaColor;
          color: $dropAreaTextColor;
          border: dashed 1px $main-color;
          &.on-drag-hover,
          &.on-dragging {
            background-color: $emphasis-color-light;
            color: $emphasis-color;
            border-color: $emphasis-color;
          }
        }
      }
    }
  }
}

[ngf-drop].drop-zone {
  border: dashed 3px $drop-zone-color;
  color: lighten($drop-zone-color, 15%);
  background: lighten($drop-zone-color, 35%);
}

@import "editor/chart-type-selector";
