tc-slide {
  transition: all $transition-duration $transition-type;
  overflow: hidden;
  position: absolute;
  @extend .full-content;
  transform: translate3d(0, 0, 0);

  &.ng-leave-active, &.ng-enter.reverse {
    transform: translate3d(0, -100%, 0);

    @include respond-to(phone) {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &.ng-enter, &.ng-leave-active.reverse {
    transform: translate3d(0, 100%, 0);

    @include respond-to(phone) {
      transform: translate3d(100%, 0, 0);
    }
  }

  &.ng-enter.ng-enter-active {
    transform: translate3d(0, 0, 0);
  }
}

slide-content {
  background-color: #fff;
  @extend .full-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all $transition-type $transition-duration;

  &.preview {
    bottom: 0;
    right: 0;
    transform: translate3d(30%, 30%, 0) scale3d(0.3, 0.3, 1);
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    overflow: hidden;
  }
}

slide-commentary{
  .slide-commentary-container {
    height: $commentary-height;
    background-color: $backgroundSlideCommentary;
    text-align:center;
    @extend .font-slide-commentary;
    padding: 0px $paddingLeftSlide;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to(phone) {
      height: 63px;
      padding: 0px 20px;
      font-size: 14px;
    }
  }
   &.with-reco {
    .slide-commentary-container {
      padding-right: 100px;
    }
  }
}


.main-space-wrapper {
  flex: 1;
  background-color: #fff;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  @include respond-to(phone) {
    flex-direction: column;
  }

  .charts-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    > chart:last-child {
      .chart-container {
        margin-bottom: 100px;

        @include respond-to(phone) {
          margin-bottom: 0;
        }
      }
    }
  }

}

.slide-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  &.with-mobile-legend {
    margin-bottom: $mobileLegendHandleHeight - 5px;
  }
}

.slide-container {
  @extend .full-content;
}

.source {
  color: #999;
  font-size: 12px;
  padding-left: 45px;
  padding-right: 20px;
  &.specialsource {
    margin-top: -110px;
    padding-right: 30px;
  }
  &.smallsource {
    width: 211px;
  }
}

@import "content/recommendation";
