@each $sentiment, $color in $sentiment-colors {
  .widget-type-leaderboard {
    rect:not(.sentiment-zones)[data-sentiment="#{$sentiment}"] {
      fill: $color !important;
    }

    stop[data-sentiment="#{$sentiment}"] {
      stop-color: $color;
    }
  }

}
