$new-small-app-primary-color: $main-color-dark !default;
$new-small-app-secondary-color: darken($main-color-fade, 10) !default;

.new-small-app,
.duplicate-small-app {
  overflow-y: auto;
  background-color: $new-small-app-primary-color;
  color: white;
  @extend .montserrat-bold-upper;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  > * {
    margin: 30px 0;
    padding-right: 2em;
    padding-left: 2em;
  }

  input {
    margin: 0;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  > .small-app-name {
    @extend .montserrat-bold-upper;
    font-size: 35px;
    text-align: center;
    width: 100%;
    padding: 1em;

    &::placeholder {
      color: $new-small-app-secondary-color;
    }
  }

  .small-app-details {
    background-color: $new-small-app-secondary-color;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: none;
    color: $new-small-app-primary-color;

    .small-app-name, .small-app-url {
      text-transform: uppercase;
      color: white;

      input {
        text-transform: uppercase;
        border-bottom: solid white 1px;
      }
    }
  }

  .continue-action {
    @include bordered-button-creator(white, $new-small-app-primary-color);
  }

  .cancel-action {
    @include bordered-button-creator($new-small-app-secondary-color);
    @extend .unbordered-button;
  }

  .continue-action, .cancel-action {
    @extend .bordered-button-large;
    display: inline-block;
  }

  .message {
    color: $negativeColor;
  }
}
