nav-menu {
  background-color: $nav-menu-bg-color;
}

.nav-menu__top__dashboard-button {
  background-color: $home-button-color;
  color: white;

  .icon-dashboard_mobile {
    color: darken($home-button-color, 20%);
  }
}

.nav-menu__top__store-button {
  &:hover {
    color: $home-button-color;
  }

  .icon-appstore_mobile {
    color: #ddd;
  }
}

.nav-menu__wrapper {
  background-color: $nav-menu-bg-color;
}

.nav-menu_chapters--ghost {
  background-color: $nav-menu-selected-color;
}

.nav-menu__chapter-wrapper.nav-menu__chapter--active .chapter__content,
.nav-menu__chapter.nav-menu__chapter--active,
.nav-menu__subchapter.nav-menu__subchapter--active {
  background-color: $nav-menu-selected-color;
}

.nav-menu__chapter-wrapper {
  border-bottom: $nav-menu-item-border-width solid $nav-menu-color;
}

.chapter__content,
.nav-menu__chapter--new {
  color: $nav-menu-item-color;
}

.nav-menu__subchapter,
.nav-menu__subchapter--new {
  color: white;
}

.nav-menu__chapter--new,
.nav-menu__subchapter--new {
  &:hover {
    color: transparentize($nav-menu-item-actions-hover-color, 0.5);
    .chapter__title  {
      color: transparentize($nav-menu-item-actions-hover-color, 0.5);
    }
  }
}

.nav-menu-subchapter--new {
  @extend .admin-only;

  .title {
    color: $nav-menu-fade-color;
  }

  &.selected {
    background-color: $nav-menu-selected-color;
  }
}

.chapter__edit-title,
.subchapter__edit-title {
  border-bottom: 1px solid darken($nav-menu-bg-color, 30%);
}

.nav-menu__chapter--new .chapter__title,
.nav-menu__subchapter--new {
  color: $nav-menu-selected-color;
}

.nav-menu__add-subchapter {
  color: $nav-menu-item-actions-color;

  > i:hover {
    color: $nav-menu-item-actions-hover-color;
  }
}

.nav-menu__add-subchapter {
  &:hover {
    color: $nav-menu-item-actions-hover-color;
  }
}

.nav-menu__chapter--active,
.nav-menu__subchapter--active {
  .nav-action-buttons,
  .nav-menu__add-subchapter {
    color: transparentize($nav-menu-item-actions-hover-color, 0.5);
  }
  .nav-menu__add-subchapter {
    &:hover {
      color: $nav-menu-item-actions-hover-color;
    }
  }
}
