nav-menu {
  background-color: $nav-menu-bg-color;
}
nav-menu .select-report-container {
  background-color: $metaColor;
  .select-generic .select-item.selected {
    background: darken($metaColor,10%);
  }
}
.nav-menu__top__home-button {
  color: $home-button-color;
  @include respond-to(phone) {
    background-color: $home-button-color;
    color: white;
  }
}

@import 'navigation/nav-menu-item';
