// Customisations for the new and old home
.small-app-home__date-requester,
dashboard-report .tc-date-dropdown {
  .multi-select-search__display {
    background-color: $emphasis-color;
    box-shadow: none;
    color: white;
  }
}
