.small-app-home__logout {
  background: $main-color;
  &:hover, &:focus {
    background: $emphasis-color;
  }
}

.small-app-home__date-requester .tc-dropdown__display {
  background-color: $emphasis-color;
}

.small-app-home__date-requester .tc-dropdown__display--filter-dropdown {
  color: white;
}

.home-data-wall-button {
  @extend .bordered-button-inverted;
}

@import "send-email-button";
@import "widgets/widget-value";
