.small-app-home__logout {
  background: $main-color;
}
.small-app-home__logout:hover,
.small-app-home__logout:focus {
  background: $emphasis-color;
}

.small-app-home__date-requester .tc-controller-buttons .tc-controller-buttons__button {
  border-color: transparentize(white, 0.6);
}

.small-app-home__date-requester .tc-controller-buttons.tc-controller-buttons--flat .tc-controller-buttons__button.active,
.small-app-home__date-requester .tc-dropdown__display {
  background-color: $emphasis-color;
}

.small-app-home__date-requester .tc-dropdown__display--filter-dropdown {
  color: white;
}

.home-data-wall-button {
  @extend .bordered-button-inverted;
}

@import "send-email-button";
@import "widgets/widget-value";
@import "tiles/tiles";
