.tc-controller-buttons.tc-controller-buttons--flat {
  .tc-controller-buttons__button {
    color: $controllerColor;
    background-color: #fff;
    border-top: 1px solid $controllerColor;
    border-bottom: 1px solid $controllerColor;
    border-right: 1px solid $controllerColor;

    &:first-child {
      border-left: 1px solid $controllerColor;
    }


    @include respond-to(phone) {
      border-color: $button-inactive-color;
      color: $button-inactive-color;
    }

    &.active {
      background-color: $controllerColor;
      color: #fff;
    }
  }
}

.tc-controller-buttons.tc-controller-buttons--bordered {
  .tc-controller-buttons__button {
    border-color: white;
    color: white;
    background-color: transparent;

    &:not(.disabled):hover {
      background-color: $emphasis-color;
      color: white;
    }

    &.active {
      background-color: $emphasis-color;
      border-color: $emphasis-color;
    }
  }
}

// Customization inside side panel
.side-panel .tc-controller-buttons.tc-controller-buttons--flat {

  .tc-controller-buttons__button {
    background-color: transparent;
    border-color: white;
    border-left: 1px solid white;
    color: white;
  }

  .tc-controller-buttons__button.active {
    background-color: white;
    border-color: white;
    color: $controllerColor;
  }
}
