// Serie
%serie--clickable {
  border-color: $tc-color--grey-light-2;
}

.serie {
  @extend %serie;
}

.serie--clickable {
  @extend %serie;
  @extend %serie--clickable;
}

.serie--value {
  @extend %serie;
}

.serie--value-clickable {
  @extend %serie;
  @extend %serie--clickable;
}

@each $index, $color in $tc-color__series {
  %serie[data-index='#{$index}'] .serie__color {
    background-color: $color;
  }
}

@each $sentiment, $color in $tc-color__sentiments {
  %serie[data-sentiment='#{$sentiment}'] .serie__color {
    background-color: $color;
  }
}

.serie__label {
  color: $tc-color--dark;
}

.serie__value {
  color: $tc-color--dark;
}
