.tc-slider-vue {
  border-color: $controllerColor;
}

.tc-slider-vue__tooltip {
  color: $controllerColor;
}

.tc-slider-vue__limit {
  color: $controllerColor;
}

.tc-slider-vue__input::-webkit-slider-runnable-track,
.tc-slider-vue__input::-moz-range-track,
.tc-slider-vue__input::-ms-fill-lower,
.tc-slider-vue__input::-ms-fill-upper {
  background: $controllerColor;
}