// Block
.sorter {
  display: flex;

  // Element
  &__button {
    border-color: $button-inactive-color;
    color: $button-inactive-color;

    // Child
    &::after {
      color: #fff;
    }

    // Modifier
    &--selected {
      background-color: $controllerColor;
      border-color: $controllerColor;
      color: #fff;
    }
  }
}

// Media queries
@media (min-width: 768px) {
  // Block
  .sorter {
    // Element
    &__button {
      border-color: $controllerColor;
      color: $controllerColor;

      // Modifier
      &--selected {
        color: #fff;
      }
    }
  }
}
