barchart, barlinechart {
  @extend .chart-directive-container;

  .y.axis .domain {
    stroke: none;
  }
  .axis.x .tick text {
    font-size: 11px;
  }
  .bar-value {
    text-anchor: middle;
    fill: #fff;
    font-weight: bold;
    @include respond-to(phone) {
      font-size: 11px;
    }
  }
  filter {
    &.upper-middle {
      position: absolute;
      right: 20px;
    }
  }
}

.waterfall-chart-container {
  @extend barchart;
  @extend .barchart-container;
  flex-direction: column;

  .generic-chart {
    &.scrollable-x {
      @include overflow-x-wrapper();
    }
  }
  .waterfall-evolution-container {
    margin-left: $paddingLeftSlide;
    @include respond-to(phone) {
      margin-left: 10px;
    }
    .icon {
      font-size: 33px;
      margin-right: 5px;
      display: inline-block;
      @include respond-to(phone) {
        font-size: 26px;
      }
    }

    .waterfall-evolution-text {
      display: inline-block;
      vertical-align: top;

      .waterfall-evolution-value {
        font-family:'Montserrat';
        font-weight:bold;
        font-size: 22.5px;
        color: #404040;
        @include respond-to(phone) {
          font-size: 16px;
        }
      }
      .waterfall-evolution-label {
        font-family:'Montserrat';
        font-size: 12px;
        line-height: 12px;
        color: #737373;
        @include respond-to(phone) {
          font-size: 10px;
        }
      }
    }

  }

  .bg-touch-area {
    fill: transparent;
    cursor: inherit;
  }
  .bar {
    transition: 500ms ease-in fill;
    cursor: default !important;
  }
  .expandable {
    stroke: $emphasis-color;
    stroke-width: 1px;
    stroke-dasharray: 7,4;
    cursor: pointer !important;
    fill: transparent;
  }

  [data-serie="positive"] {
    &.bar{
      fill: $waterfallPositiveColor;
    }
  }

  [data-serie="negative"] {
    &.bar{
      fill: $waterfallNegativeColor;
    }
  }

  [data-serie="initial"] {
    /*fill: nth($chartColors, 1);*/
    fill: $waterfallInitialColor;
    cursor: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }

  .unit {
    fill: #737373;
  }

  .zero-baseline {
    stroke-width: 2px;
    stroke: #4b4b4b;
  }

  .waterfall-value {
    text-anchor: middle;
    font-size: 14px;
    fill: #4c4c4c;
    pointer-events: none;
    font-weight: bold;
    font-family:'Montserrat';
    @include respond-to(phone) {
      font-size: 11px;
    }
  }
  .waterfall-evolution {
    text-anchor: middle;
    font-size: 11px;
    fill: #4c4c4c;
    pointer-events: none;
    font-family:'Montserrat';
  }

  .waterfall-label {
    text-anchor: middle;
    font-size: 10px;
    font-family:'Montserrat';
    pointer-events: none;
    @include respond-to(phone) {
      font-size: 9px;
    }
  }
  .drill-group-label {
    fill: #eee;
    text-anchor:middle;
  }
  .drill-group {
    fill: transparent !important;
  }
}
