barlinechart {
  .bar {
    fill: $barColor;
  }

  .line {
    stroke: $lineColor !important;
  }

  .bar-group.selected .bar {
    fill: darken($barColor, 10);
  }

  .line-value {
    &.selected {
      fill: $lineColor;
    }
  }
  .line-spot-point {
    fill: $lineColor;
  }
  .group-metric-wrapper {
    [data-serie="0"] {
      background-color: $barColor;
    }
    [data-serie="1"] {
      background-color: $lineColor;
    }
  }
}
