bubblechart {
  @extend .chart-directive-container;
  .circle-main {
    fill: $neutralColor;
    stroke: darken($neutralColor,5%);
  }
  .circle-drill {
    stroke: $emphasis-color;
    stroke-width: 1px;
    stroke-dasharray: 7,4;
    cursor: pointer !important;
    fill: transparent;
  }
  .label{
    font-size: 12px;
    fill: #4b4b4b;
    text-anchor: middle;
    font-weight: bold;
    font-family: 'Montserrat';
    stroke-width: 0px;
    @include respond-to(phone) {
      font-weight: normal;
      font-size: 11px;
    }
  }
  .y.axis .domain {
    stroke: none;
  }
  .tick {
    text.identity{
      @include transform(0, -10px);
    }
  }
  .group-line-drill {
    stroke: lighten($emphasis-color,30%);
    stroke-width: 2px;
  }
  .group-circle, .group-label {
    &.selected {
      .circle-main{
        fill: $emphasis-color;
        stroke: darken($emphasis-color,5%);
      }
      .label {
        fill: darken(#4b4b4b, 50%);
        font-weight: bold;
      }
    }
    &.drilling {
      .circle-main{
        fill: lighten($emphasis-color,30%);
        stroke: darken($emphasis-color,5%);
      }
    }

  }

}
