bubblechart {
  .circle-main {
    fill: $neutralColor;
    stroke: darken($neutralColor,5%);
  }
  .circle-drill {
    stroke: $emphasis-color;
  }
  .group-line-drill {
    stroke: lighten($emphasis-color,30%);
  }
  .group-circle, .group-label {
    &.selected {
      .circle-main{
        fill: $emphasis-color;
        stroke: darken($emphasis-color,5%);
      }
    }
    &.drilling {
      .circle-main{
        fill: lighten($emphasis-color,30%);
        stroke: darken($emphasis-color,5%);
      }
    }
  }
}
