$bullet-chart-detail-block-bg: #f0f0f0 !default;
$bullet-chart-axis-color: #f5f5f5 !default;
$bullet-chart-axis-text-color: #cacac9 !default;

bullet-chart {
  $barColor: nth($chartColors,3);
  $targetColor: nth($chartColors,1);

  .bar rect, rect.bar {
    fill: $barColor;
  }

  .comparison-bar rect, rect.comparison-bar {
    fill: $comparisonColor;
  }

  .target rect, rect.target {
    fill: $targetColor;
    &.red-target {
      fill: $negativeColor;
    }
    &.green-target {
      fill: $positiveColor;
    }
  }

  .axis {
    path.domain {
      stroke: $bullet-chart-axis-color;
    }
    .tick {
      font-size: 12px;

      text {
        fill: $bullet-chart-axis-text-color;
      }
    }
  }

  .detail-block-bg {
    fill: $bullet-chart-detail-block-bg;
  }

  .detail-block {
    .detail-group {
      .detail-group-label {
        font-size: 14px;
        color: #4b4b4b;
      }

      .horizontal-barchart-label {
        font-weight: bold;
      }
    }
  }
}
