bullet-chart {
  $barColor: nth($chartColors,3);
  $targetColor: nth($chartColors,1);

  .bar rect, rect.bar {
    fill: $barColor;
  }

  .comparison-bar rect, rect.comparison-bar {
    fill: $comparisonColor;
  }

  .target rect, rect.target {
    fill: $targetColor;
  }
  .axis {
    path.domain {
      stroke: $bullet-chart-axis-color;
    }
    .tick {
      text {
        fill: $bullet-chart-axis-text-color;
      }
    }
  }
  .detail-block-bg {
    fill: $bullet-chart-detail-block-bg;
  }
}
