$marginTop: 48px;
$cartoWidth: 590px;
$marginCarto: 30px;
$cartoDetailsHeight: 567px;
$backgroundDetails: #eee;


carto {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .carto-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .chart-container {
    flex-direction: column;
    margin-top: 30px;
    .color-scale-container {
      height: 40px;
      svg {
        width: 100%;
      }
    }
  }

  svg.carto {
    flex: 1;
  }

  .borders {
    fill: none;
    /*stroke: #ddd;*/
    stroke-linejoin: round;
  }
  .background-touch{
    fill: #fff;
  }
  .missing-value {
    fill: #fafafa;
  }

  .entity {
    stroke: none;
    @include transition(800ms, ease);
  }
}
