force-directed-chart {
  line.link {
    stroke: $text-color;
  }
  .node {
    &.selected {
      stroke: $emphasis-color;
    }
  }
  @each $color in $chartColors {
    $i: index($chartColors, $color) - 1;
    [data-source-index="#{$i}"], [data-source-index="#{$i}"].selected {
      @include colorSVGElement($color);
    }
  }

  .node-legend {
    fill: $text-color;
  }
}
