heatmap {
  .heatmap-square-group {
    &.focus-selected {
      .heatmap-square {
        stroke: $emphasis-color;
      }
    }
  }

  [data-serie="positive"] {
    &.heatmap-square{
      fill: $positiveColor;
    }
  }

  [data-serie="negative"] {
    &.heatmap-square{
      fill: $negativeColor;
    }
  }
}
