.tc-story__chart,
chart,
.grid-tile__chart-container {
  bullet-chart,
  horizontal-barchart,
  stacked-barchart,
  leaderboard-centered-average {
    .horizontal-barchart {
      .horizontal-barchart-label {
        &.highlighted {
          fill: $emphasis-color;
        };
      }
      .bar-0 {
        fill: $colorChart0;
      }
      .bar-1 {
        fill: $colorChart1;
      }
      .pack {
        &[data-index="1"] .bar-0 {
          fill: $colorChart1;
        }
        &[data-index="2"] .bar-0 {
          fill: $colorChart2;
        }
      }
    }
  }

  leaderboard-centered-average {
    .horizontal-barchart-variation-sign {
      &.evolution-up{
        fill: $aboveAverageColor;
      }
      &.evolution-down{
        fill: $underAverageColor;
      }
    }

    .bar{
      &.above-average {
        fill: $aboveAverageColor;
      }
      &.under-average {
        fill: $underAverageColor;
      }
    }
  }

  stacked-barchart {
    @each $i, $color in $stackedColors {
      [data-stack-index="#{$i}"] {
        @include colorSVGElement($color);
      }
    }
    .variation-group {
      .positive {
        fill: $positive-color;
      }
      .negative {
        fill: $negative-color;
      }
    }
    .outlier-group {
      circle {
        fill: $red;
      }
      rect {
        fill: $red;
      }
    }
    .stacked-grouped-controller {
      .chart-controller {
        color: $controllerColor;
        border-top: 1px solid $controllerColor;
        border-bottom: 1px solid $controllerColor;
        &:first-child {
          border-left: 1px solid $controllerColor;
        }
        &:last-child {
          border-right: 1px solid $controllerColor;
        }
        &:nth-child(1) {
          border-left: 1px solid $controllerColor;
          border-right: 1px solid $controllerColor;
        }
        &.active {
          background-color: $controllerColor;
        }
      }
    }
  }
}
