linechart, barlinechart {
  @extend .chart-directive-container;

  .line {
    fill: none;
    stroke: #4b4b4b;
    stroke-width: 3px;
    @include transition($transition-duration, $transition-type, opacity);

    &.spot-point {
      stroke: #D8D8D8;
      stroke-width: 2px;
    }

    &.not-selected {
      opacity: 0.3;
    }
  }
  .x.axis .domain {
    stroke: none;
  }
  .axis.x .tick text {
    @include respond-to(phone) {
      font-size: 9px;
    }

  }
  .zero-baseline{
    stroke-width: 2px;
    stroke: #4b4b4b;
  }

  .spot {
    fill: transparent;
    transition: fill 0.5s;

    &.selected {
      fill: #4c4e4d;
    }
  }
  .event-point {
    fill: #4c4e4d;
  }
  .event-line {
    stroke-width: 2px;
  }
  .event-name-container {
    text-align: center;
  }
  .event-name {
    color: white;
    background: #4c4c4c;
    display: inline-block;
    padding: 0px 10px;
  }

  circle.spot-point {
    stroke: none;
  }
  .y.axis .domain {
    stroke: none;
  }

  > label {
    margin-left: $paddingLeftSlide;
    margin-top: 1em;

    @include respond-to(phone) {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 12px;
    }
  }

  .spot-label {
    margin-right: 1rem;
  }

  .spot-value, .spot-unit {
    font-size: $fontSizeBase * 1.5;
    color: $averageBoxColor;
    @include respond-to(phone) {
      font-size: 12px;
    }
  }
}

.secondary {

  linechart {
    margin-top: 10px !important;
    flex-direction: column;

    &.with-right-pane {
      flex-direction: row;
    }

    .chart-container {
      overflow: visible;

      svg {
        overflow: visible;
      }

      .line {
        stroke-width: 3px;
      }

      .transparent {
        fill: $colorChart0;
      }

      .axis {
        .tick {
          text {
            font-size: $fontSizeBase * 4/5;
          }
        }
        &.x {
          .tick line {
            stroke: none;
          }
          .domain {
            stroke: #cccccc;
            stroke-width: 1px;
            fill: none;
          }
        }
        &.y {
          .tick line {
            stroke: #f5f5f5;
          }
          text {
            color: #f5f5f5;
          }
        }
      }
    }
  }

  .chart-legend-right {
    max-height: 100%;
    overflow: scroll;
  }
}

.no-spots {
  .linechart-container .chart-container {
    .transparent {
      fill: transparent;
    }
  }
}

.small-labels {
  .linechart-container .chart-container {
    .axis.x {
      font-size: smaller;
    }
  }
}
