map {
  display: flex;

  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    >.filters  {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      margin: 1em;

      > filter:first-child {
        width: 50%;
      }
    }

    > .map-container {
      flex: 1;

      svg {
        height: auto;
      }
    }

    > .generic-chart {
      height: 0 !important;
      flex: none;
    }
  }

  .area {
    fill: $greyMissing;
    opacity: 0.7;
    stroke: white;
    stroke-opacity: 0.45;
    transition: fill $transition-type $transition-duration;

    &.selected {
      opacity: 0.9;
    }
  }

  .chart-legend-right {
    height: 100%;
  }
}
