score-card {
  $gutter-unit: 20px;
  $gutter-unit-mobile: 10px;
  @extend .chart-directive-container;

  .chart-container {
    flex-direction: column;
  }

  .svg-chart-container {
    display: none;
  }

  .generic-chart {
    padding: $gutter-unit;
  }

  .pack {
    padding-top: $gutter-unit / 2;
    padding-bottom: 2 * $gutter-unit / 2 ;
    margin: ($gutter-unit / 2) 0;
    border-bottom: solid 2px $greyLight;
    @include respond-to(desktop) {
      margin-right: 30px;
    }

    @include respond-to(mobile) {
      padding-top: $gutter-unit-mobile;
      padding-bottom: 2 * $gutter-unit-mobile;
      margin: $gutter-unit-mobile 0;
    }

    &:last-child {
      border-bottom: none;
    }

    > .title {
      @extend .montserrat-bold-upper;
      margin: $gutter-unit/2 0;
      @include respond-to(mobile) {
        max-width: 155px;
      }

      @include respond-to(mobile) {
        margin: $gutter-unit-mobile/2 0;
      }
    }
  }

  .entry {
    display: flex;
    align-items: baseline;

    > .dots {
      flex: 1;
      border-bottom: dotted 2px $grey;
    }

    > .value {
      font-weight: bold;
      font-size: larger;
    }
  }
  .variation {width: 40px;}
  .sparkline-container {
    width: 130px;}
  .variation, .sparkline-container {
    margin-left: $gutter-unit - 10;

    @include respond-to(phone) {
      width: 40px;
      margin-left: $gutter-unit-mobile;
    }
  }

  .sparkline-container {
    height: 24px;
    align-self: flex-start;
  }
}
