.recommendation-container {
  .recommendation-content {
    background-color: $recommendation-color;
  }
  .story-recommendation__flag,
  .recommendation-notifier {
    .content {
      background-color: $recommendation-color;
    }
    .flag {
      background-color: $recommendation-color;
    }
  }
}
