recommendation {
  .recommendation-container {
    .recommendation-content {
      background: $recommendation-color;
    }
    .recommendation-notifier {
      .content {
        background-color: $recommendation-color;
      }
      .flag {
        background: $recommendation-color;

      }
    }
  }
}
