.tile-value__content--positive {
  color: $positive-color;
}

.tile-value__content--negative {
  color: $negative-color;
}

.tile-value__content--warning {
  color: $warning-color;
}

.tile-value__content--neutral {
  color: $neutral-color;
}

.tile-value__content--verypositive {
  color: $verypositive-color;
}

.tile-value__content--verynegative {
  color: $verynegative-color;
}
