.home-tile--clickable,
.home-tile--wholly-clickable {
  &:active,
  &:focus,
  &:hover {
    .tile-content__link {
      background-color: $emphasis-color;
      border-color: transparentize($text-color, .7);
      color: #fff;
    }

    .tile-content__name {
      color: $emphasis-color;
    }
  }
}

.home-tile__border {
  background-color: $emphasis-color;
}

.home-tile__content {
  color: $text-color;
}

.tile-content__link {
  border-color: transparentize($text-color, .7);
}

.tile__edit-overlay {
  .fa.fa-cogs {
    color: $emphasis-color;
  }
}