@mixin colorTcLegendCategoryByAttr($attr, $value, $color) {
  // legacy
  .tc-legend-ordinal__serie[#{$attr}="#{$value}"] .tc-legend-ordinal__serie-color {
    background-color: $color;
  }
  // legacy
  .tc-details-serie-container[#{$attr}="#{$value}"] .tc-details-serie-color__rect {
    background-color: $color;
  }
  // new
  .details__series .serie__color[data-label="#{$value}"] {
    background-color: $color;
  }
}

@mixin colorTcLegendCategoryById($id, $color) {
  @include colorTcLegendCategoryByAttr(data-serie-index, $id, $color);
}

@mixin colorTcLegendCategoryByName($name, $color) {
  @include colorTcLegendCategoryByAttr(data-serie, $name, $color);
}

@each $color in $chartColors {
  $i: index($chartColors, $color) - 1;
  @include colorTcLegendCategoryById($i, $color);
}

@each $sentiment, $color in $sentiment-colors {
  @include colorTcLegendCategoryByAttr(data-sentiment, $sentiment, $color);
}
@include colorTcLegendCategoryByAttr(data-serie-index, comparison, $comparisonColor);
