$additional-panel-content-color:      $main-color !default;
$additional-panel-header-color:       $main-color-dark !default;
$additional-panel-bubble-tab-color:   darken($main-color-dark, 10%) !default;
$additional-panel-name-tab-color:     darken($main-color-dark, 20%) !default;

.additional-panel__toggle-button {
  background-color: $additional-panel-content-color;
}

.additional-panel-tabs {
  background-color: $additional-panel-content-color; // Hack for phone extra space when scrolling
}

.additional-panel-tabs__scrolling-zone {
  background-color: $additional-panel-header-color;
}

.additional-panel-tab-button {
  &:hover {
    .additional-panel-tab-button__bubble {
      background: $main-color;
    }
    .additional-panel-tab-button__name {
      color: #fff;
    }
  }
}

.additional-panel-tab-button__bubble {
  background-color: $additional-panel-bubble-tab-color;
}

.additional-panel-tab-button__name {
  color: $additional-panel-name-tab-color;
}

.additional-panel-tab-button.additional-panel-tab-button--active {
  &::after {
    border-bottom-color: $additional-panel-content-color;
  }
  .additional-panel-tab-button__bubble {
    background-color: #fff;
  }
  .additional-panel-tab-button__icon {
    color: $additional-panel-bubble-tab-color;
  }
  .additional-panel-tab-button__name {
    color: #fff;
  }
}

.additional-panel-tabs__content {
  background-color: $additional-panel-content-color;
}

.share-tab__button {
  border-color: #fff;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $main-color;
  }
}

.share-tab__button.share-tab__button--no-border {
  &:hover {
    background-color: transparent;
    color: #fff;
    opacity: 0.5;
  }
}

.annotate-and-share__submit-button {
  background-color: $emphasis-color;
  color: #fff;
}

.annotate-and-share__submit-button--disabled {
  background-color: $grey;
  color: darken($greyDark, 15%);
}

.annotate-and-share__loading-bar__progress {
  background-color: $emphasis-color;
}
