.date-selector-dropdown {
  background-color: $emphasis-color;
}

.date-selector-dropdown__item.date-selector-dropdown__item--selected {
  background-color: $emphasis-color;
  border-color: $emphasis-color;
}

.date-selector-clickable {

  @include respond-to(phone) {
    color: white;
  }
}
