[dropdown] {
  .dropdown-toggle {
  }

  .dropdown-menu {
    height: 0;
    visibility: collapse;
  }

  &.open {
    .dropdown-menu {
      height: auto;
      visibility: visible;
    }
  }
}

md-menu-item {
  height: auto;
  min-height: auto;
}
