@media print {
  // Prevent transition in print mode
  *{transition:none!important;}

  // Slides
  slide-content {
    zoom: 60%;
    linechart,
    bullet-chart,
    bubblechart {
      zoom: 75%;
    }
    slopegraph,
    barlinechart,
    stacked-barchart,
    horizontal-barchart,
    barchart {
      zoom: 85%;
    }
  }
  .kpi-navigator-container {
    zoom: 50%;
  }

  // Home - dashboard-report
  header {
    zoom: 80%;
    .menu-touch-area {display:none;}
  }

  .logout {
    display: none;
  }

  .execsum {
    dashboard-report {
      .title {
        font-size: 15px;
        line-height: 18px;
        padding-top: 10px;
      }
    }
  }
  // Widget size
  .dashboard-report {
    zoom: 80%;

    .kpi {zoom: 75%;}
    .widget-type-leaderboard {
       .widget-svg-container {zoom: 75%;}
    }
  }
  // Print 2 pages if needed
  html,
  body,
  ui-view,
  .main-small-app-wrapper,
  small-app,
  .screen-container,
  .screen-container > .main-space-wrapper,
  .report-homes-wrapper,
  report-home,
  .execsum,
  .home-report-wrapper,
  dashboard-report {
    overflow: visible !important;
    height: 100%;
  }
  // Display background on second page
  html {
    background: url("../images/bg-1.png");
    background-size: cover;
    background-position: top center;
  }
  small-app {
    overflow-y: visible !important;
    height: 100%;
  }
  .screen-container {
    overflow-y: visible !important;
    box-shadow: none;
  }
}
