$upload-drop-border-color: darken($main-color-fade, 10) !default;
$upload-section-background-color: white;
$upload-page-background-color: #DDD;
$upload-text-color: $text-color;
$upload-feedback-success-color: $positiveColor;
$upload-feedback-error-color: $negativeColor;

.upload-datasources-wrapper {
  flex: 1;
  background-color: $upload-page-background-color;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .feedback {
    @extend .secondary-font;
    font-weight: bold;
    text-transform: none;
    margin: 1em 0;
    color: $upload-feedback-success-color;

    &.error {
      color: $upload-feedback-error-color;
    }
  }

  .actions button {
    @extend .bordered-button;

    .spinner {
      display: none;
      background: url('images/loading-bubbles.svg') no-repeat center right;
      background-size: 100%;
      margin-left: 1em;
      width: 3em;
      height: 1em;
    }

    &.disabled {
      .spinner {
        display: inline-block;
      }
    }
  }
}

.upload-datasources {
  background-color: $upload-section-background-color;
  color: $upload-text-color;
  padding: 0px;
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;

  .drop-message {
    margin-top: 1em;
  }

  .datasource {
    margin: 1em;
    padding: 1em;
    width: 30em;
    border-color: $upload-drop-border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.uploaded {
      background: $main-color-fade;
    }
    .domain {
      @extend .montserrat-regular;
      text-transform: none;
      font-weight: normal;
    }

    .file-name {
      @extend .secondary-font;
      text-transform: none;
      font-weight: bold;
    }

    .status {
      float: right;
      color: $positiveColor;
    }
  }

}

.go-to-small-app-button {
    @extend .bordered-button;
    @extend .bordered-button-large;
}
