.user-admin {
  padding: 20px;
  overflow-y: auto;

  .title {}

  .user {
    padding: 20px;
    text-align: left;
    text-transform:none;
    font-weight: normal;
    .username {}
    .roles {
      .role {}
    }
  }
  .actions {
    button {
      @extend .bordered-button;
    }
  }

  .global-privileges {
    margin-bottom: 0.5em;

    i {
      font-size: 2em;
    }
  }
}
