.chart-type-selector {
  flex: 1;
  background-color: white;
  padding: 30px;
  align-items: stretch;

  // Full-size dialog
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  box-shadow: none;
  border: none;
  border-radius: 0;

  .modal-header, .modal-body {
    text-align: left;
    padding-bottom: 1em;
  }

  .modal-header {
    flex: none;
    font-size: larger;
    border-bottom: solid 2px $grey;
  }

  .modal-footer {
    flex: none;
    text-align: center;
  }

  .chart-type {
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 30px;
    padding-bottom: 10px;
    @include flat-shadowed-box();
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;

    .thumbnail {
      margin-bottom: 10px;
    }

    &:hover {
      color: $main-color;
      @include flat-shadow($main-color);
    }

    &:active, &.selected {
      color: $emphasis-color;
      @include flat-shadow($emphasis-color);
    }
  }
}
