// TcBullet
.bullet__comparison {
  background-color: mix($tc-color--serie-2, $tc-color--white, 33%);
}

.bullet__target {
  background-color: $tc-color--serie-1;
}

@each $sentiment, $color in $tc-color__sentiments {
  .bullet__target[data-sentiment='#{$sentiment}'] {
    background-color: $color;
  }
}

.bullet__value {
  background-color: $tc-color--serie-2;
}

.bullet__value-container {
  background-color: $tc-color--grey-extralight-1;
}

// Series
@mixin bullet-chart__serie($serie, $color, $attribute: 'type') {
  .bullet-chart__details .serie[data-#{$attribute}='#{$serie}'] .serie__color {
    background-color: $color;
  }
}

@include bullet-chart__serie(comparison, mix($tc-color--serie-2, $tc-color--white, 33%));
@include bullet-chart__serie(target, $tc-color--serie-1);
@each $sentiment, $color in $tc-color__sentiments {
  @include bullet-chart__serie($sentiment, $color, sentiment);
}
@include bullet-chart__serie(value, $tc-color--serie-2);

@mixin colorBulletAttrByName($attr, $serie, $color, $el: $serie) {
  .bullet-chart__bullet[data-#{$attr}='#{$serie}'] .bullet__#{$attr},
  .bullet-chart__details .serie[data-type="#{$attr}"][data-label='#{$serie}'] .serie__color {
    background-color: $color;
  }
  // el is needed because in tile we have no consistancy between classes and params
  // TODO: refacto tile bullet to have similar behaviour than in bullet chart
  .tc-horizontal-bar-with-bullet[data-#{$attr}='#{$serie}'] .tc-horizontal-bar-with-bullet__#{$el} {
    fill: $color;
  }
}

@mixin colorBulletChartSerieByName($serie, $color) {
  @include colorBulletAttrByName(comparison, $serie, $color, comparison);
  @include colorBulletAttrByName(target, $serie, $color, bullet);
  @include colorBulletAttrByName(value, $serie, $color, bar);
}
