$bulletchartBarColor: nth($chartColors, 2);
$bulletchartComparisonColor: rgba(nth($chartColors, 2), .33);
$bulletchartTargetColor: nth($chartColors, 1);


.bullet-bars__value-bar[data-sentiment], .bullet-bars__value-bar {
  background-color: $bulletchartBarColor;
}

.bullet-bars__comparison-bar {
  background-color: $bulletchartComparisonColor;
}

.bullet-bars__target {
  background-color: $bulletchartTargetColor;
}

@each $sentiment, $color in $sentiment-colors {
  .bullet-bars__target[data-sentiment='#{$sentiment}'] {
    background-color: $color;
  }
}

@include colorTcDetailsCategoryByAttr(data-type, 'value', $bulletchartBarColor);
@include colorTcDetailsCategoryByAttr(data-type, 'comparison', $bulletchartComparisonColor);
@include colorTcDetailsCategoryByAttr(data-type, 'target', $bulletchartTargetColor);
@each $sentiment, $color in $sentiment-colors {
  @include colorTcDetailsCategoryByAttr(data-sentiment, $sentiment, $color);
}

.bullet-bars__axis {
  color: $bullet-chart-axis-text-color;
}

.bullet-bars__label--highlighted {
  color: $emphasis-color;
}
