// Legend
@mixin colorBulletLegendByName($serie, $color, $attribute: 'type') {
  .tc-legend-ordinal__serie[data-style="#{$serie}"] .tc-legend-ordinal__serie-color,
  .bullet-chart__details .serie[data-#{$attribute}="#{$serie}"] .serie__color {
    background-color: $color;
  }
}

@mixin colorBulletPart($color, $part: comparison) {
  .tc-horizontal-bar-with-bullet__#{$part} {
    fill: $color;
  }
  .bullet__#{$part} {
    background-color: $color;
  }
}

@mixin colorBulletPartByAttr($serie, $color, $part, $attr: serie) {
  .tc-horizontal-bar-with-bullet__#{$part}[data-#{$attr}="#{$serie}"] {
    fill: $color;
  }
  .bullet__#{$part}[data-#{$attr}="#{$serie}"] {
    background-color: $color;
  }
}

/****** APPLY COLORS ******/

// Default
@each $name, $color in $tc-bullet-default-colors {
  @include colorBulletLegendByName($name, $color);
  @include colorBulletPart($color, $name);
}

// Sentiments
@each $sentiment, $color in $tc-color__sentiments {
  @include colorBulletLegendByName($sentiment, $color, sentiment);
  @include colorBulletPartByAttr($sentiment, $color, target, sentiment);
}

/****** SERIES ******/

// Custom colors
@mixin colorBulletChartSerieByName($serie, $color) {
  @include colorBulletPartByAttr($serie, $color, value);
  @include colorBulletPartByAttr($serie, $color, target);
  @include colorBulletPartByAttr($serie, $color, comparison);
  @include colorBulletLegendByName($serie, $color, label);
}