$tc-bar-chart-bar-color--selected: $emphasis-color;

@mixin colorTcHorizontalBarchartBarByAttr($attr, $value, $color) {
  .horizontal-bar-chart__bar-group .horizontal-bar__bar[#{$attr}="#{$value}"],
  .horizontal-bar-chart__y-label[#{$attr}="#{$value}"] .horizontal-bar__bar {
    fill: $color;
  }
}

@mixin colorTcHorizontalBarchartBarById($id, $color) {
  @include colorTcHorizontalBarchartBarByAttr(data-serie-index, $id, $color);
}

@mixin colorTcHorizontalBarchartBarByName($name, $color) {
  @include colorTcHorizontalBarchartBarByAttr(data-serie, $name, $color);
  @include colorTcHorizontalBarchartBarByAttr(data-label, $name, $color);
  @include colorTcHorizontalBarchartBarByAttr(data-style, $name, $color);
}

@each $color in $chartColors {
  $i: index($chartColors, $color) - 1;
  @include colorTcHorizontalBarchartBarById($i, $color);
}

.horizontal-bar-chart__y-label-container--highlighted .horizontal-bar-chart__label {
  color: $tc-bar-chart-bar-color--selected;
  fill: $tc-bar-chart-bar-color--selected;
}
