.radar-axis {
  .domain, line {
    stroke: #bbbbbb;
  }
  .tick {
    text {
      fill: #ddd;
    }
  }
}

.radar-legend__label {
  color: $text-color;
}

// Radar shape
@mixin colorTcRadarchartShapeByAttr($attr, $value, $color) {
  .radar-shape[#{$attr}="#{$value}"] {
    stroke: $color;
  }
  .fill-shape[#{$attr}="#{$value}"] {
    fill: $color;
    stroke: none;
  }
}

@mixin colorTcRadarchartShapeById($id, $color) {
  @include colorTcRadarchartShapeByAttr(data-serie-index, $id, $color);
}

@mixin colorTcRadarchartShapeByName($name, $color) {
  @include colorTcRadarchartShapeByAttr(data-serie, $name, $color);
  @include colorTcRadarchartShapeByAttr(data-style, $name, $color);
}

@each $i, $color in $chartColors {
  @include colorTcRadarchartShapeById($i, $color);
}

// Radar legend
@mixin colorTcRadarchartMetricsLabelsByAttr($attr, $value, $color) {
  .radar-legend__content div[#{$attr}="#{$value}"] {
    color: $color;
  }
}

@mixin colorTcRadarchartMetricsLabelById($id, $color) {
  @include colorTcRadarchartMetricsLabelsByAttr(data-serie-index, $id, $color);
}

@mixin colorTcRadarchartMetricsLabelByName($name, $color) {
  @include colorTcRadarchartMetricsLabelsByAttr(data-serie, $name, $color);
}

@each $i, $color in $chartColors {
  @include colorTcRadarchartMetricsLabelById($i, $color);
}
