$backgroundColor: #eeeeee;
$closeIconColor: #D4D4D4;


.table-header-mobile-container, .table-header-fixed-container{
  background: white;
}

.table-row{
  color: $dark-color;
}

.table-element-container{
  border-right-color: $light-grey;

  &:first-child {
    border-left-color: $light-grey;
  }
}

.table-comment .table-element-content, .header-label{
  color: $text-color;
}

.expanded-img{
  background: $backgroundColor;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  > .icon-close{
    color:$closeIconColor;
  }
}

.table-variation {
  color: $text-color;
}

.table-element.table-tag{
  // default color when colorTags is set to false (true by default)
  background: $light-grey;
  color:white;
}

.table-value{
  color:$text-color;
}

// Table bullet

// Bullet bar
.table-element__bullet-bar__complement{
  fill: $backgroundColor;
}
.table-element__bullet-target__bar{
  fill: $emphasis-color;
}

@mixin colorTcTableByAttr($attr, $value, $color) {
  .table-tag[#{$attr}="#{$value}"] {
    background: $color;
  }
}

@mixin colorTcTableById($id, $color) {
  @include colorTcTableByAttr(data-serie-index, $id, $color);
}

@each $color in $chartColors {
  $i: index($chartColors, $color) - 1;
  @include colorTcTableById($i, $color);
}

.table-mobile-body-container .table-row,.table-fixed-body  .table-row {
  border-bottom-color: $light-grey;
}

// Use data-sentiment to color values, variation symbols and bullet bars
@each $sentiment, $color in $sentiment-colors {
  .tc-value__value[data-sentiment="#{$sentiment}"]{
    color: $color;
  }
  .table-value__value[data-sentiment="#{$sentiment}"]{
    color: $color;
  }
  .tc-variation__symbol[data-sentiment="#{$sentiment}"]{
    fill: $color;
  }
  .table-element__bullet-bar__bar[data-sentiment="#{$sentiment}"]{
    fill: $color;
  }
}
