$tc-waterfall-boundaries-color: $waterfallInitialColor;
$tc-waterfall-positive-color: $waterfallPositiveColor;
$tc-waterfall-negative-color: $waterfallNegativeColor;

@mixin colorWaterfallBarAndValuesByAttr($attr, $value, $color) {
  .waterfall-chart__bar-group[#{$attr}="#{$value}"] .vertical-bar__bar,
  .waterfall-chart__bar-group[#{$attr}="#{$value}"] .vertical-bar__bar-value,
  .waterfall-chart__bar-group[#{$attr}="#{$value}"] .vertical-bar__bar-variation {
    fill: $color;
  }
}

@mixin colorWaterfallBarAndValuesByName($name, $color) {
  @include colorWaterfallBarAndValuesByAttr(data-label, $name, $color);
}

@mixin colorWaterfallBarAndValues($color) {
  .vertical-bar__bar-value,
  .vertical-bar__bar-variation,
  .vertical-bar__bar {
    fill: $color;
  }
}

.waterfall-chart__bar-group--boundary {
  @include colorWaterfallBarAndValues($tc-waterfall-boundaries-color);

  .vertical-bar__bar-label,
  .vertical-bar__bar-meta {
    fill: $tc-waterfall-boundaries-color;
  }
}

.waterfall-chart__bar-group--positive {
  @include colorWaterfallBarAndValues($tc-waterfall-positive-color);
}

.waterfall-chart__bar-group--negative {
  @include colorWaterfallBarAndValues($tc-waterfall-negative-color);
}

.waterfall-chart__expandable .vertical-bar__bar {
  stroke: $emphasis-color;

  &:hover {
    fill: $tc-charts-hover-zone;
  }
}

.waterfall-chart__y-axis-unit {
  fill: #666; // TODO: put that in a variable
}
