.slide-item-actions {
  color: $nav-menu-item-actions-color;

  > i:hover {
    color: $nav-menu-item-actions-hover-color;
  }
}

.selected {
  .slide-item-actions {
    color: transparentize($nav-menu-item-actions-hover-color, 0.5);
  }
}
