%nav-menu-item {
  color: $nav-menu-item-color;
}

%new-nav-menu-item {
  .title {
    color: $nav-menu-fade-color;
  }
  &:hover .title {
    color: $nav-menu-fade-hover-color;
  }
}

@import 'nav-menu-chapter';
@import 'nav-menu-subchapter';
@import 'nav-menu-item-actions';
